


.LayoutGrid {
    width: 900px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.LayoutCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.PanelFillExtraLight {
    background-color: #fff;
}
.PanelDiffuseShadow {
    box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 9px 1px red;
    -webkit-box-shadow: 0 0 9px 1px red;
    zoom: 100%;
}
.init * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
:link{
    color: #333;
    text-decoration: none;
}
:link:focus {
    outline: 2px solid #999;
    -moz-outline-radius: 3px;
}
:link:hover, :link:focus {
    text-decoration: underline;
}
:link:active, :link:hover {
    outline: 0;
}




/* mega menu list */
    .nav-menu {
        display: block;
        position: relative;
        list-style: none;
        margin: 0px;
        padding: 0px;
        z-index: 999;
    }

    /* a top level navigation item in the mega menu */
    .nav-item {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    /* first descendant link within a top level navigation item */
    .nav-item > a {
        position: relative;
        display: inline-block;
        padding: 0.5em 1em;
        margin: 0 0 -1px 0;
        border: 1px solid transparent;
    }

    /* focus/open states of first descendant link within a top level 
       navigation item */
    .nav-item > a:focus,
    .nav-item > a.open {
        border: 1px solid #dedede;
    }

    /* open state of first descendant link within a top level 
       navigation item */
    .nav-item > a.open {
        /* background-color: #fff; */
        border-bottom: none;
        z-index: 1;
    }

    /* sub-navigation panel */
    .sub-nav {
        position: absolute;
        display: none;
        top: 1em;
        margin-top: -1px;
        padding: 0.5em 1em;
        border: 0px solid #dedede;
        width: 250px;

        /* background-color: #fff; */
    }

    /* sub-navigation panel open state */
    .sub-nav.open {
        display: block;
    }

    /* list of items within sub-navigation panel */
    .sub-nav ul {
        display: inline-block;
        vertical-align: top;
        margin: 0 1em 0 0;
        padding: 0;
    }

    /* list item within sub-navigation panel */
    .sub-nav li {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }     

    .sub-nav-group {
        background: #FFF;
    }

   

























