/* Available indicator (green)*/
.EXLResultStatusAvailable {
    border-left: solid 6px #A8CA6D; /* makes left border into a colored bar */
    background-image: none !important; /*suppresses “ball” icon*/
    padding-left: 10px; /*WWU spacing adjustment (optional)*/
}

/*Not Available indicator (grey)*/
.EXLResultStatusNotAvailable {
    border-left: solid 6px #aaa; /* makes left border into a colored bar */
    background-image: none !important; /*suppresses “ball” icon*/
    padding-left: 10px; /*WWU spacing adjustment (optional)*/
}

/* Maybe Available indicator (yellow)*/ 
.EXLResultStatusMaybeAvailable {
    border-left: solid 6px #FFB90F; /* makes left border into a colored bar */
    background-image: none !important; /*suppresses “ball” icon*/
    padding-left: 10px; /*WWU spacing adjustment (optional)*/
  }