
#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ ul {
  margin-left: 47px;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ li {
    white-space: nowrap;
    font-weight: normal;
    font-size: 110%;
    margin: 5px;
}

.#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ > #exlidSearchTileWrapper  { 
    width: 90%;
 }

 #resultsTileNoId {
 }

.#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ #exlidSearchRibbon div.EXLSearchFieldRibbon {
    width: auto;
}

.EXLSearchFieldRibbonFormFields {
  width: 74%;
  margin-left: 25px;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ  > #exlidSearchRibbon div.EXLSearchFieldRibbon {
  background-color: #FFFFFF;
  border: 1px solid #8FB9D0;
  display: block;
  float: left;
  height: 26px;
  margin: 0;
  padding: 0;
  border: 0px solid #8FB9D0 !important;
  margin-left: 25px;
}

div.az  > * > #exlidSearchTile {
    margin-top: 95px;
}

#exlidSearchRibbon.az {
    clear: none;
    padding-left: 25%;
    margin-top: -72px;
}

#exlidSearchRibbon input {
  margin-left: 15px;
}

.gotoPageInputToolTip, .gotoPageInputToolTipLinks {
  right: inherit;
}

.EXLResultsContainer div.EXLResultsTile {
  margin-left: 5px;
  position: inherit;
}

#exlidSearchTile.EXLSearchEJorunals fieldset {
	margin-top: 2.5em;
}

#exlidSearchTile.EXLSearchEJorunals .EXLSearchFieldRibbonSimpleSearchLink {
  /* float: left; */
  padding-top: 40px;
  margin-left: 206px;
  margin-top: 10px; /*added 10px to fix spacing problem - L. Lowery*/
}