/* browse search */


body.EXLBrowseList > .EXLSearchFieldRibbonFormSearchFor {
    width: 50%;
    margin-left: 15px;
}


.EXLResultsContainer {
    /* margin-top: 171px; */
}

#exlidFacetTile {
    /* the left column that contains facets */
    /* margin-top: -375px; */
    margin-top: 0;
}

#resultsTileNoId {
    /* the main/right column that contains search results */
    /* margin-top: -375px; */
    margin-top: 0;
}

.EXLSearchTabsContainer.tab-row {
    margin-top: -45px;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {
    margin-top: 30px;
    background-color: #FFF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;    
    border-color: #ccc;
    border-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 933px;
    min-width: 1024px;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup1 {
    /* width: 47em; */
}

#exlidAdvancedSearchRibbon {
    margin-top: -11px;
    /* margin-top: -175px; */
    width: 100%
}

#exlidHeaderTile {
    margin-top: 0;
    height: auto;
    padding-bottom: 0px;
    z-index: -1000;
    margin-top: 155px;
    /* margin-bottom: 400px; */
}

#exlidAdvancedSearchTile {
    background-color: transparent;
    background: blue
    width: 90%;
    border: 0;
}

#exlidAdvancedSearchRibbon #goButton {

    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;  

    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;  

    -webkit-border-radius-topright: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;  

    -webkit-border-radius-topleft: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;  

    background: url("//libweb1.library.wwu.edu/primo/images/onesearch-magnifying-glass.png") no-repeat !important;  
    background: transparent;
    box-shadow: 0px 3px 3px #CCC;
    background-repeat: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    height: 40px !important;
    z-index: 0;
    padding-top:0;
    padding-bottom: 5px;
    color: #003F87;
}

#exlidAdvancedSearchRibbon input {
    width: 31%;
}

#exlidAdvancedSearchRibbon input.submit {
    height: 34px;
}

#exlidClearSelectedFieldsAdvancedSearch {
    width: 50px !important;
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;  

    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;  
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    border: 0px !important;
    content: "";
    background-image: none !important;
    background: transparent;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch input {
    background: #fff;
    background: url("//libweb1.library.wwu.edu/primo/images/clear-search.png") no-repeat  50% 50% !important;
    width: 48px !important;
    height: 40px;
    box-shadow: 0px 3px 3px #CCC;
    background-repeat: none;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {
    border: 0;

}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks {
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;  
    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;  
    /* background: url(//libweb1.library.wwu.edu/primo/images/onesearch-magnifying-glass.png) no-repeat !important; */
    box-shadow: 0px 3px 3px #CCC;
    background-repeat: none;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    width: 130px !important;
    height: 32px !important;
    z-index: 0;
    padding-top: 8px;
    content: "";
	position: relative;
	left: 13px;
}


#footerEXL {
    display:none;
    position: fixed;
    bottom: 0;
    font-size: 50%;
}

.EXLFooterTile {
    min-height: auto;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 {
    border-left: 0;
    margin-top: 10px;
}

#exlidHeaderContainer {
    margin-top: -128px;    /* 02dec2014 */
}

#exlidSearchTileWrapper {
    /* margin-top: 175px; 05dec */
    margin-top: 0;
    height: auto;
    min-width: 950px;
}

#resultsListNoId {
   /* padding-top: 131px; */
}

.EXLResultsList table {
    /* margin-top: -125px; */
}

#exlidHeaderTile.displayAdvanced {
    margin-top: 0 !important;
    margin-bottom: -87px;
}

.myaccountmenu-advanced {
    margin-top: 54px !important;
    height: 529px !important;    
}

.EXLMyAccountTabsRibbon div {
    /* margin-top: 270px; */
    margin-top: 5px; 
}

#exlidHeaderSystemFeedback {
    /* margin-top: 381px; */
    z-index: 90;
}

#exlidHeaderSystemFeedbackContent strong {
    top: inherit;
    float: right;
}

.EXLTabHeader div.EXLTabHeaderButtons li {
    width: auto !important;
}

body.EXLFullView .EXLTabHeaderButtonSendTo {
    width: 50px !important;
}


#exlidAdvancedSearchRibbon input, #exlidAdvancedSearchRibbon select {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;    
    background: transparent;
    padding: 3px;
    width: auto;
    font-size: 1.0em !important;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormDateRangeRow select {
    width: auto;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 select {
    height: auto;
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow span.EXLAdvancedSearchFormDateRangeRow input {
    height: auto;
 }

/* ------------------------- */


.EXLSearchFieldRibbonFormSelectedBrowse {
    font-size: 1em !important;
    height: 44px;
    line-height: 1.65em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0px;
    border-top: 0px none;
    border-left: 1px solid #CCC !important;
    border-bottom: 1px solid #CCC !important;
    box-shadow: -4px 3px 10px #CCC;
    width: 257px;
    border-right: 0px !important;
}

.EXLSearchFieldRibbonFormBrowseList {
    float: left;
    margin-top: 0em;
    cursor: pointer;
    width: 20em;
    position: relative;
    top: -43px;
    border: 1px solid #c0c0c0;
    z-index: 1000;
    background-color: #ffffff;
    display: block;
    clear: both;
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel a {
    background-position: 95% 39%;
    padding-top: 15px;
    font-size: 95%;
 }


 .EXLClearSimpleSearchBoxButtonClose {
    top: 45px;
    position: relative;
    right: 227px;
    float: right;
}

.EXLSearchFieldRibbonFormSearchClear {
    background: transparent;
}

.EXLSearchFieldRibbonFormSearchFor {
    width: 75%;
}

#exlidAdvancedSearchRibbon #goButton {
    height: 41px !important;
    width: 48px !important;
    color: #FFF;
	position: relative;
	left: 13px;
}


#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
  border: 0px none;
  font-size: 1.75em !important;
  height: 39px;
  font-weight: normal;
  color: #444;
  z-index: 0;
  opacity: 0.99;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 0px none;
  border-left: 0px solid #CCC !important;
  border-bottom: 1px solid #CCC !important;
  box-shadow: 1px 3px 12px #CCC;
  position: absolute;
  left: 285px;
  line-height: 100%;
  width:50%;
  }


  .EXLResultsContainer div.EXLResultsTile {
    margin-left: 0px;
  }

  div.EXLResultsContainer div.EXLBrowseResultsTileNoFacets {
    width: 98%;
  }

  #exlidResultsContainer.browse {
        display: block !important;
  }