/* Citation Trails */

cite.EXLCitationTrailsIndicationContainer {
	display: inline-block;
	margin-left: 2px;
	float:left;
}

.EXLCitationTrailsIndication.EXLCitationIndication.citeBtn {
	margin: 0px 0px;
}

.citeBtn  a:link, .citeBtn a:visited{
	margin: 5px 5px;
	line-height: 100%;
	font-size: 12px;
    color: #3866a3;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3866a3;
    padding:7px 11px;
    text-decoration:none;
    display:inline-block;
}

.citeBtn a:hover, .citeBtn a:active{
	font-size: 12px;
    color: white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3866a3;
    padding:7px 11px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #468ccf) );
    background-color:#99b2cf;
    display:inline-block;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    box-shadow:inset 1px 1px 0px 0px #bee2f9;
}

.citeBtn a:after {
  font-family: 'FontAwesome';
  content: " \f08e";
  padding-left: 3px;
  font-size: 90%;
}

/*Citation header*/
span.EXLCitationDisclaimerText {
	padding-left: 25px;
	Font-size: 75%;
	display: block;
}

.EXLCitationTrailsResultsHeader {
	background-color: #cce6f7;
}

.EXLCitationTrailsResultsHeader div.EXLResultGeneralData h3.EXLResultAuthor {
	color: black;
}