/* http://fontawesome.io/cheatsheet/ */

.tabtip {
    background: white;
    opacity: .9;
    font-size: 100%; 
    display: none;
    background-image: url('http://libweb1.library.wwu.edu/images/tooltips/tooltips.png');
    background-repeat: no-repeat;
    background-position: top left;

    /* font-family: 'Shadows Into Light', cursive !important; */
    font-family: 'open sans', sans-serif !important;

    color: #000 !important;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 0px;
    padding-bottom: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 9999;
    top: 0px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
    min-width: 50px;
    min-height: 50px;
    max-width: 250px;
    max-height: 250px;
    word-wrap: break-word;
 }

 #filterList {
    font-size: 11px;
    display: none;
    position:absolute;
    top: 0px;
    max-height: 300px;
    max-width: 400px;
    background: white;
    overflow: scroll;
    border-radius: 5px;
    padding: 5px;
    z-index: 9999;
    width: 300px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-right: 1px solid #bbb;
    box-shadow: 2px 3px 3px #ccc;
    border-bottom: 0px solid #444444;
 }

#filterList .EXLFacetContainer ol li {
    font-size: 100%;
}

#filterList li.EXLFacetsDisplayMore {
    display: none;
}

#filterList .EXLDateRangeText { 
    display: none;
}

#filterList li.EXLFacet {
    padding-left: 3px;
}

li.EXLFacet > a {
    color: #777;
}

.EXLFacetContainer > h1, .EXLFacetContainer > h3 , .EXLFacetContainer > h4 {
    font-weight: normal;
}

#addFilter {
    color: #999;
    font-size: 58px;
    float: right;
    top: -20px;
    position: relative;
    right: 10px;
}

#addFilter:hover > #filterList {
    display: block;
}

.filterButton {
    /* This css button was partially generated by css-button-generator.com */
/*    float:right;
*/    font-weight:normal;
    font-size: 11px;
    color: white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3866a3;
    padding:5px 11px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #468ccf) );
    background-color:#99b2cf;
    display:inline-block;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    box-shadow:inset 1px 1px 0px 0px #bee2f9;
}

.filterButton:hover {
    background:-moz-linear-gradient( center top, #99b2cf 5%, #63b8ee 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#63b8ee');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #63b8ee) );
    background-color:#99b2cf;
}

.filterButton:active {
    position:relative;
    top:1px;
}

.filterButtonDiv {
    padding-bottom: 32px;
}

 .showHideFilters {
    margin-left: 5px;
    font-size: 85%;
    color: #999;
    cursor: hand;
    cursor: pointer;
}

/* hide the facet checkboxes, because we want to use images to control their appearance */
/* thanks to http://stackoverflow.com/questions/3772273/pure-css-checkbox-image-replacement */
/* see http://fontawesome.io/cheatsheet/ for the icons we are using */

input[type=checkbox].facetcheckbox {
    position:  absolute;
    left: -1000px;
}

input[type=checkbox].facetcheckbox + label:before {
        content: "\f096";
        font-family: FontAwesome;
       display:inline-block;
       padding: 0 0 0 0px;
       color: #999;
       padding-right: 5px;
   }
   
   input[type=checkbox].facetcheckbox:checked + label:before {
        content: "\f046";
        font-family: FontAwesome;
        display:inline-block;
        padding: 0 0 0 0px;
       color: #999;
       padding-right: 5px;
       border: 1px black dotted;
    }

   input[type=checkbox].facetcheckbox:indeterminate + label:before {
        content: "\f146";
        font-family: FontAwesome;
        display:inline-block;
        padding: 0 0 0 0px;
       color: #999;
       padding-right: 5px;
    }


 .facetcheckbox:focus + label {
    border: black 1px dotted;
 }

input[type=checkbox].facetcheckbox + label::focus::before {
    border: 1px solid #00f;
}


a.facetLink.exclude:before {
    content: "\f146";
    font-family: FontAwesome;
    font-size: 16px;
    color: #999;
    padding: 5px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none;
}

/* 
 fa-remove
 fa-square-o [&#xf096;] 
  fa-check-square-o [&#xf046;] 
   fa-minus-square [&#xf146;] 
    fa-close (alias) [&#xf00d;] 
   */


   .strike {
        text-decoration: line-through !important;
   }

    #exlidSearchRibbon div.EXLDynamicSelectBodyRadio a {
        display: inline;
    }

   #hrtooltip {
        padding-left: 15px;
   }

   .menu-item {
        display: block;
        white-space: nowrap;
        float: left;
        clear: left;
   }

   .submenuitem > .fa {
        margin-right: 4px;
   }