#keep_facets_container {
	color: #555;
	float: right;
	padding: 5px;
	background:  transparent;	
}

#keep_facets_container .left {
	font-size: 12px;
	color: #555;
	float: right;
	padding: 8px;
	background:  white;	
	left: 129px;
	position: absolute;
	width: 339px;
	z-index: 999;
	top: 200px;
	box-shadow: 3px 3px 3px #999;
}

#keep_facets_container2 {
	float: right;
	padding-top: 7px;
	font-size: 12px;
}

.facetpin {
	background:  transparent;	
}

.facetpin2 {
	background:  transparent;	
}

.closeWidget {
	float:  right;
	cursor: pointer; 
	cursor: hand;
}

#keep_facets_widget {
	display: none;
}

#keep_facet_code_container {
	position: absolute;
	right: 10px;
	display:  none;
	width: 35%;
	float: right;
	border-radius: 8px;
	background: #efefef;
	box-shadow: 3px 3px 3px #CCC;
	padding: 14px;
}

#keep_facet_code_container2 {
	position: relative;
	display:  none;
	width: 100%;
	border-radius: 8px;
	background: #FFF;
	box-shadow: 3px 3px 3px #999;
	padding: 10px;
	margin: 5px;
}

#submit-widget-form {
}

#request-widget-container {
	padding-top: 5px;
}

#widget_code {
	display: none;
	font-size: 90%;
	font-family:  "Courier New", "Courier" !important;
	background: transparent;
	width: 100%;
	height: 100%;
}

#keep_facets_widget {
	color: #ccc;
}

.facetpin:before, .facetpin2:before {
    	font-family: "FontAwesome" !important;	
	content: "\f096";
}

.facetpin.pinned:before, .facetpin2.pinned:before {
    	font-family: "FontAwesome" !important;	
	content: "\f046";
}