/*Styles for SAML login prompt */
/*Lesley Lowery - WWU - loweryl@wwu.edu*/

md-toolbar.EXLPRMDualLoginToolBar {
	background-color: #003f87;
	color: 003f87;
	height: 72px;
	background-image: url("http://dev1.library.wwu.edu/primo/images/Logo-WesternLibraries-RGB-REV.png");
	background-position: 97% center;
	background-repeat: no-repeat;
	margin-bottom:35px;
}

.md-toolbar-tools h2 {
	margin-top: 126px;
}

md-card .md-actions, md-card md-card-actions {
	margin-top: 0px;
	margin-bottom: 0px;
	align-self: center;
}

md-card .md-actions ~ p {
	margin: 0px;
}

.EXLPRMDualLoginColumn, .EXLPRMDualLoginColumnCard {
	min-height: 0px;
}

.EXLPRMLoginColumnCard {
	min-width: 300px;
}

md-toolbar.EXLPRMLoginToolBar.EXLPRMLoginCardToolBar {
	background-color: #003f87;
	color: 003f87;
	height: 72px;
	background-image: url("http://dev1.library.wwu.edu/primo/images/Logo-WesternLibraries-RGB-REV.png");
	background-position: 97% center;
	background-repeat: no-repeat;
	margin-bottom:35px;
}

md-input-container .md-input {
	margin-top: 20px;
}

md-card-content.EXLPRMLoginCardContent {
	padding-bottom: 0px;
}