/* http://fontawesome.io/cheatsheet/ */

.rap-bug {
    float: right !important;
    display: inline !important;
    width: 16px !important;
    padding-right: 5px;
    color: #999;
    position: absolute;
    left: 131px;
    top: 5px;
}