
#onesearchLogo {
  width: 180px;
}

#exlidSearchRibbon {
  background: #FFF;
  box-shadow: -2px 3px 3px #555;
  border-radius: 8px;
  height: 25px;
  line-height: 25px;
  width: 99%;
  border-top: 0px none;
  border-bottom: 1px solid #CCC !important;
  margin-left: auto;
  margin-right: auto;
}

#search_field {
    padding-left: 10px;
    width: 80%;
    border-radius: 8px;
    font-weight: normal;
    color: #444;
    z-index: 0;
    border-top: 0px none;
    border-left: 1px solid #CCC !important;
    border-bottom: 0px solid #CCC !important;
    border-right: 0px;
    background: #FFF;
    padding: 5px;
}


#goButton {
  background: transparent;
  background-image: url('//libweb1.library.wwu.edu/primo/images/onesearch-magnifying-glass.png');
  background-size: 30px Auto;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 36px;
  height: 36px; 
  float: right;
  box-shadow: none !important;
  border: none !important;
}


#goButton:hover {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 3px 3px 3px #000;

}


.box-shadow-outset {
      display: inline-block;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: box-shadow;
      transition-property: box-shadow;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 3px 3px 3px #000;
  }


.hidden {
    display:  none;
}

#search-box-standalone {
  border-radius: 8px;
  font-family:  'Open Sans', verdana;
  font-size: 11px;
  width: 300px;
  color: #FFF;
  background: #003f87 ;
  padding: 7px;
  border: 0px solid rgba(0, 0, 0, 0.5);
  min-width: 250px;
}

#search_tip_container {
  padding: 5px;
}