#hiddenFacetDiv {
    display:  none;
    padding: 5px;
    background:  #efefef;
    border-radius: 8px;
    transform: rotate(-90deg);    
    position:  fixed;
    left: -45px;
    z-index: 999;
    margin-top 20px;
    font-size:  100%;
    height: 25px;
    cursor: pointer;
}

#compress-facets {
    cursor: pointer;
    font-size:  75%;
    padding: 1em;
    z-index: 999;
}

#exlidResultsContainer {
    display:  flex;
    flex-direction: row-reverse;
}

/* rearrange layout for skinny devices */
@media screen and (max-width: 800px) { 

    .EXLResultsHeader {
        margin-top: 3em;
    }

    #exlidFacetTile {
        flex: 1;
        display:  none;
        margin-top: 1em;
        width: 75%;
        position: absolute;
    }

    #hiddenFacetDiv {
        display: inline-flex;
        order: 1;
    }

    #wwu-permalink {
        float:right;
    }

    #resultsTileNoId {
        flex: 1;
        margin-top: 1em;
        width:  100%;
        font-size:  125%;
        margin-left: 15px;
    }

    #exlidFacetTile.basic {
        margin-top: 0;
    }

    .EXLResultsContainer div.EXLResultsTile {
        margin-top: 0;
        width: 95%;
    }

    #exlidSearchRibbon {
        margin-top: 0;
        min-width: auto;
    }
    
    #chatDiv {
        top: -10px;
        right: 30%;
        z-index: 9999;
    }

    #mainMenuLinks {
        width: 100%;
        font-size: 150%;
        height: 1.5em;
    }

    #kba_nav {
        display:  flex; 
        flex-flow: row nowrap;
        justify-content: space-around;        
        align-items: center;
    }

    #kba_nav li {
        border: 1px dotted #efefef;
    }

    #helpSubMenu, #myAccountSubMenu {
        left: 0;
    }
}
