.wwu_prod {
    /* empty on purpose */
}

#exlidTab3 {
    display:  none;
}

img#westernLibrariesLogo {
 position: absolute;
  top: 0;
  right: 38px;
  padding-right: 18px;
  width: 147px;
  padding: 8px;
}

/* Language drop-down removal allignement fix */
#exlidMainMenuTile div.EXLMainMenuContainer {
    float: right;
}

/* Locations tab must be disabled for Primo-Alma integrations */
.EXLTabsRibbon div li.EXLLocationsTab {
    display: none;
}

/* Headers in Black */
#exlidHomeContainer h1,
#exlidHomeContainer h2,
#exlidHomeContainer h3,
#exlidHomeContainer h4 {
    font-size: 100%;
    color: #2C2C2C;
}
/* Links customization */
a:link,
a:visited {
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: underline
}
.EXLTabsRibbon div li.EXLMoreTab {
    display: none;
}

#exlidTopLevelFacetsTile {
    display: none;
}

#exlidHomeContainer {
    clear: both;
}

#exlidMyDatabasesTab {
    display: none;
}

#scopesList {
    position: relative;
    float: right;
    width: 150px;
    top: -42px;
    z-index: 888;
    background: #FFF;
}

#exlidSearchRibbon div.EXLSearchFieldRibbon {
    background-color: #FFFFFF;
    border: 1px solid #8FB9D0;
    display: block;
    float: left;
    height: 26px;
    margin: 0;
    padding: 0;
    width: 100%;
   border: 0px solid #8FB9D0 !important;
}

#exlidSearchRibbon input.EXLSearchFieldMaximized {
    width: 100%;
    background:  #FFF;
}



#exlidSearchRibbon input.submit, #goButton {
    background: #FFF;
    background-image: url('//libweb1.library.wwu.edu/primo/images/onesearch-magnifying-glass.png');
    border-bottom-right-radius: 8px;
    border-left: 0;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
    width: 45px !important;
    height: 42px !important;
    border-bottom: 1px solid #CCC !important;
    box-shadow: 3px 3px 3px #CCC;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}


#goButton:hover { 
    box-shadow: 0px 0px 0px #CCC;
}

#goButton:focus { 
    border: 1px dotted #999;
}

li.EXLFacet input.checkbox {
   border-radius: 4px;
}

.EXLFacetTile {
    background: none repeat scroll 0 0 #F5F5F5;
    border-right: 1px solid #DDDDDD;
    float: left;
    padding: 1%;
    width: 25%;
    min-width: 187px;
}

body {
    margin: 0 auto;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    width: auto;
    min-width:  auto;
}

.EXLSearchFieldRibbonBrowseSearchLink a:link,
.EXLSearchFieldRibbonBrowseSearchLink a:visited {
    color: #ffffff;
    text-decoration: none;
}
.EXLSearchFieldRibbonAdvancedSearchLink a:link,
.EEXLSearchFieldRibbonAdvancedSearchLink a:visited {
    color: #ffffff;
    text-decoration: none;
}


#contentEXL {
    border-right: 1px solid #CFCFCF !important;
    border-left: 1px solid #CFCFCF !important;
    border-bottom: 1px solid #CFCFCF !important;
    -webkit-box-shadow: 0 8px 6px -6px #CFCFCF;
    -moz-box-shadow: 0 8px 6px -6px #CFCFCF;
    box-shadow: 0 8px 6px -6px #CFCFCF;
}
.EXLSearch {
    border-right: 0px solid #CFCFCF !important;
    border-left: 0px solid #1C75BC !important;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {
    padding: 1em 0 0.5em 0 !important;
    margin-top: 25px;
    background-color: #FFF;
    border-radius: 0px 8px 8px 0px;
    border-color: -moz-use-text-color #CCC #CCC;
    border-top: 0px none;
}


#exlidAdvancedSearchRibbon input.submit {
    width: 6.9em !important
}

#exlidAdvancedSearchTile {
    background-color: #1C75BC;
    background-image: none !important;
    background-repeat: repeat-x;
    border-bottom: 1px solid #ADB9C2;
    border-top: 1px solid #ADB9C2;
    clear: left;
    font-size: 80%;
    height: auto;
    padding: 1em 0;
    min-width: 950px;
    width: 100%;

    background: none;
    background-image: none;

}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup1 {
    margin-top: 10px;
}

.EXLSearchFieldRibbonFormFields {
    width: 83%;
}

/*
#exlidResultsTable tr td {
    padding-bottom: 25px;
}
*/

.EXLResultsList td.EXLSummary {
    padding-left: 15px;
    -webkit-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    padding-bottom: 25px;    

}

.EXLThumbnailCaption {
    color: #999;
    display: inline;
    position: relative;
    top: -6px;
    left: 28px;
    font-size: 130%;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks {
    background: none repeat scroll 0 0 #ffffff;
    display: inline;
    float: left;
    line-height: 24px;
    text-indent: 1em;
    width: 115px;
}

div#exlidSearchBanner a:link {
    font-size: 6px;
}

img.EXLBriefResultsCover {
    display:  none;
    width: 75px;
    max-height: 100px;
    justify-content: right;
    position: absolute;
    left: 708px;
    top: -50px;
}

#slider-range {
    display:  none;
}


.EXLResultsList td.EXLMyShelfStar {
    /*
    padding-bottom: 0.5em;
    padding-left: 25px;
    padding-top: 0.6em;
    width: 1.5em;
    */
    text-align: left;
    width: 5px;
    padding: 0px;
    margin: 0px;
    /*    display: none;    */
}

.EXLResultsContainer div.EXLResultsTile {
    background-color: #FFF;
    float: inherit;
    margin-bottom: 2em;
    margin-top: 0;
        width: 95%;
   border-left: 0;
}


/* 26sep2013 - David Bass - hide the "Suggested New Searches" section */
#exlidSuggestedList {
    display: none;
}

.EXLMyAccountMainContainer form span.submit {
    border: 0px;
}

 .EXLMyAccountMainContainer form input.submit {
  margin: 5px;
  font-size: 11px;
  height: 25px;
  color: white !important;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #3866a3;
  padding: 5px;
  text-decoration: none;
  background: -moz-linear-gradient( center top, #99b2cf 5%, #468ccf 100% );
  background: -ms-linear-gradient( top, #99b2cf 5%, #468ccf 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#468ccf');
  background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #468ccf) );
  background-color: #99b2cf;
  display: inline-block;
  -webkit-box-shadow: inset 1px 1px 0px 0px #bee2f9;
  -moz-box-shadow: inset 1px 1px 0px 0px #bee2f9;
  box-shadow: inset 1px 1px 0px 0px #bee2f9;    
 }


.EXLMyAccountMainContainer form input {
    border: 0px;
    width: auto;
    height: auto;
}

div.EXLFacetActionsV2 {
    margin-top: 15px;
}

#EXLFacetTile {
    width: 250px;
}

.EXLFullView .perma-link {
    font-size: 100%;
}


 /* Thanks to Jennifer Ward (UW)!!  tweak sign-in link on request tab, Lesley L. 2014.07.23 */ 
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLine {
    font-weight: normal
} 

.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineInstName {
    display: none
} 

.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineSignIn {
    float: left; 
    font-weight: bold
}

/*Lesley L. - 2015.01.16: Resize background to fit both institution name and sign-in link*/
.EXLResultTabContainer div.EXLTabHeader {
    min-height: 42px;
}

/*Lesley L. - 2014.7.24: Hide "Location" column in Active Loans List of My Account area.*/
/*.MyAccount_Loans_7 {
    display: none
}
.EXLMyAccountTableSub.Location {
    display: none
/* } */

/*Lesley L. - 8/7/14 Hide Times Cited and Similar Articles Tabs*/
.EXLCitationsTab.EXLResultTab.EXLServiceConditionalTab  {
    display: none !important;
}
.EXLRecommendTab.EXLResultTab {
    display: none;
}

* {
    font-family:  'Open Sans', Oxygen,  'verdana', sans-serif !important;
    font-size: 1.0em;
}

#exlidMainMenuTile {
    float: none;
    width: auto;
}

#exlidSearchRibbon {
    /* min-width: inherit; */
    margin-left: 11px;
    padding-left: 0 !important;
    /* position: relative !important;  */         /* this keeps the search box from invading the facet column if too narrow */
    clear: both;
    margin-top: -40px;  /* accessibleMenu2 */
    min-width: 700px;
    width: 100%;
    position: fixed;
    background: #FFF;
    z-index: 998;
}

.EXLResultNumberX {
    display: block;
    font-size: 4em !important;
    font-weight: bold;
    color: #eee;
    border: 0 !important;
    margin-left: -30px;
    margin-right: 15px;
    /* text-shadow: -1px -1px 0px rgba(0,0,0,0.2), 1px 1px 0px rgba(255,255,255,0.8);  */
    opacity: 0.75;
    text-align: right;
}

/* .EXLResultsList em.EXLResultStatusAvailable { */
.EXLResultStatusAvailable {
    border-left: solid 5px #A8CA6D;
    background-image: none !important;
    padding-left: 10px;
}

/* .EXLResultsList em.EXLResultStatusNotAvailable { */
.EXLResultStatusNotAvailable {
    border-left: solid 6px #aaa;
    background-image: none;
    padding-left: 10px;
}

/* .EXLResultsList em.EXLResultStatusMaybeAvailable { */
.EXLResultStatusMaybeAvailable {
    border-left: solid 6px #FFB90F;
    background-image: none;
    padding-left: 10px;
  }

.EXLResultsListALTERNATIVE em.EXLResultStatusAvailable { 
    background: #A8CA6D;
    margin: 2px;
    padding: 5px;
    background-image: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 35px !important;
    position: absolute;
}

#exlidSearchRibbon div.EXLSearchTabsContainer {
    line-height: 24px;
    height: 25px;
}


.EXLFacetContainer h1 , .EXLFacetContainer h3 {
    background: none;
    border-top: 0;
}

ul#exlidSearchTabs {
    line-height: 24px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    position:absolute;

}

#exlidSearchTabs li {
    height: 24px;
    -webkit-box-flex: 1;
    white-space: nowrap;
    /*    overflow: hidden; */
    max-width: 250px;
    min-width: 50px;
    border-bottom: none;
    text-overflow: ellipsis;  
}

#exlidSearchTabs li:first-child {
    margin-left: 0;
    padding-bottom: 2px;
}

#exlidTab0 {
        -webkit-border-radius-topleft: 8px !important;
        -moz-border-radius-topleft: 8px !important;
        border-top-left-radius: 8px !important;  
        border-left: 1px solid #ccc !important;
        border-bottom: 1px solid #ccc !important;
        box-shadow: -2px 3px 3px #ccc !important;
}

.tab-row {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    white-space: nowrap;
    overflow: visible !important;
}

#exlidSearchTile {
    background: none;
    border:0 !important;
    margin-bottom: 20px;
    margin-top: 95px;
    height: 86px; 
    width: auto;
}

#advsearch_href_simple {
    cursor:pointer;
    color: #555;
}

.EXLSearchFieldRibbonFormSubmitSearch {
    width: 7%;
    /* margin-left: -12px; */
}

#exlidSearchTileWrapper {
    margin-top: -7px;
    /* height: 50px; /* 03dec2014 */
}

#resultsTileNoId {
    clear:both;
    margin-top: -40px; /* 9/23/15 - L. Lowery - fix A-Z journal page spacing issue that was cutting off the "Basic Search" link.*/
}

#newMenu {
    clear:left;
}

#search_field {
    font-size: 1.75em;
    font-weight: normal;
    color: #444;
    z-index: 0;
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;  
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: -2px 3px 3px #ccc;
    background: transparent;
}

#exlidSearchRibbon input {
    height: 1.65em;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0px;
    width: 100%;
}

#exlidSearchRibbon input.checkbox {
    width: inherit;
    padding: 0;
    height: inherit;
}

#advsearch {
    margin-left: 16px;
    clear: left;
    float: right;
    margin-right: 17%;
    padding-top: 4px;
}

input::-webkit-input-placeholder {
   color: #aaa;
   font-size: 0.8em;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #aaa;
   font-size: 0.8em;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;
   font-size: 0.8em;
}

input:-ms-input-placeholder {  
   color: #aaa;
   font-size: 0.8em;
}


.EXLSliderRefine a:visited, a#dateSubmit {
    color: #FFF !important;
}

.EXLResultsList span.EXLAvailabilityCallNumber {
    display: block; /* put this on its own row/line */
    font-weight: normal;
    font-size: 150%;
    color: #999;
    padding-left: 10px;
}

.EXLResultsHeader h1 em {
    color: #999;
}

.EXLRefinementRibbonWithExclude {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}


.EXLResultAvailability {
    padding: 0px;
    font-weight: normal;
    width: 95%;
    margin: 0px;
    padding-left: 5px;
    /* top: -5px; */
}

.EXLResultAvailability * {
    color: #999 !important;
}

.EXLResultsList span.EXLAvailabilityLibraryName {
    color: #999;
}

.EXLResultAvailability em {
    font-weight: normal;
}


.EXLResultsList h2 {
    font-size: 150%;
    font-weight: normal;
    padding-top: 0;
}

#exlidFacetTile {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

#exlidFacetTile.basic {
    /* margin-top: -150px; */
    margin-top: -61px;
}

td.EXLSummary:hover {
    -webkit-box-shadow: 4px 7px 55px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 7px 55px 1px rgba(0,0,0,0.35);
    box-shadow: -4px 7px 55px 1px rgba(0,0,0,0.35);
    border-radius: 10px;
    padding-bottom: 25px;    
}

#resultsTileNoId.basic {
    margin-top: -60px;
}

.EXLResultsList div.EXLSummaryContainer div.EXLSummaryFields {
   /* margin-left: -34px; */
   width:  auto;
}

/*Display type icons*/
.multipleCoverImageContainer {
    width: 50px;
    max-height: 30px;
    border: 0;
    opacity: 0.5;
    background-size: 30%;
    margin-left: 0px;
    height: 15px;
    min-height: 15px !important;
    top: 10px;
    left: -2px;
    font-family: FontAwesome;
   font-size: 16px;
    color: #999;
    background-image: none !important;
}

.EXLResultMediaTYPEimage .multipleCoverImageContainer {
    background-image: none;
}

.EXLResultMediaTYPEimage .multipleCoverImageContainer:before {
    content: "\f03e";
    font-family: FontAwesome;
   font-size: 16px;
   font-size: 20px;
   color: #999;
}

.EXLResultMediaTYPEbook .multipleCoverImageContainer {
    /* eBook */
    background-image: none;
}

.EXLResultMediaTYPEbook .multipleCoverImageContainer:before {
    content: "\f10a";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;
}

.EXLResultMediaTYPEpbook .multipleCoverImageContainer {
    /* Print Book */
   background-image: none;
}

.EXLResultMediaTYPEpbook .multipleCoverImageContainer:before {
    content: "\f02d";
    font-family: FontAwesome;
   font-size: 16px;
   font-size: 20px;
   color: #999;
}

.EXLResultMediaTYPEarticle .multipleCoverImageContainer {
    background-image: none;
}

.EXLResultMediaTYPEarticle .multipleCoverImageContainer:before {
    content: "\f0f6";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;
}

.EXLResultMediaTYPEjournal .multipleCoverImageContainer {
    background-image: none !important;
}

.EXLResultMediaTYPEjournal .multipleCoverImageContainer:before {
    content: "\f19d";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;
}

.EXLResultMediaTYPEnewspaper .multipleCoverImageContainer:before {
    content: "\f1ea";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;
}

.EXLResultMediaTYPEnewspaper_article .multipleCoverImageContainer {
    background-image: none;
}

.EXLResultMediaTYPEnewspaper_article .multipleCoverImageContainer:before {
    content: "\f1ea";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;

}

/* music -  fa-music [&#xf001;]  */

.EXLResultMediaTYPEaudio .multipleCoverImageContainer {

}

.EXLResultMediaTYPEvideo .multipleCoverImageContainer {
    background-image: none;
}

.EXLResultMediaTYPEvideo .multipleCoverImageContainer:before { 
    content: "\f03d";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;
}


.EXLResultMediaTYPEannual .multipleCoverImageContainer:before {
    content: "\f1ea";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;
}

.EXLResultMediaTYPEannual .multipleCoverImageContainer {
    /* Annuals and Other Serials */
    background-image: none;
}

.EXLResultMediaTYPEmap .multipleCoverImageContainer {
    /* map */
    background-image: none;
}

.EXLResultMediaTYPEmap .multipleCoverImageContainer:before {
    /* map */
    content: "\f0ac";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;
}


.EXLResultMediaTYPEaudiocd .multipleCoverImageContainer {
    background-image: none;
}

.EXLResultMediaTYPEaudiocd .multipleCoverImageContainer:before {
    content: "\f001";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;
}

.EXLResultMediaTYPEfilmstrip .multipleCoverImageContainer:before {
    content: "\f008";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;    

}
.EXLResultMediaTYPEvideocassette .multipleCoverImageContainer:before {
    content: "\f008";
    font-family: FontAwesome;
   font-size: 20px;
   color: #999;    
}
/* end Display Type icons*/

.searchResultLink {
    color: #33659f;
}

.searchResultLink:visited {
    color: #99b2cf;
}


#exlidMainMenuRibbon {
    list-style-type: none;
}

.rotate {

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#contentEXL {
    border: 0 !important;
}

#exlidMainMenuContainer {
   /* display: none; */
}

#exlidHeaderSystemFeedback {
    border: 0 !important;
    background: transparent;
}

#exlidHeaderTile {
    padding-top: 15px;
    clear:both;  /* display.do problem 03dec2014 */
    /* padding-bottom: 59px; /* 03dec2014 */
    float: none;
    padding-bottom: 5px;
    /* background: red; */

}

#exlidSearchRibbon fieldset {
    width: 100%;
}

#logo {
    padding-top: 10px;
    padding-left: 0px !important;
    width: 180px;
}

#exlidSearchTabs li {
    box-shadow-bottom: none;
}

#exlidSearchTabs li.EXLSearchTabSelected {
    box-shadow: none;
    background-image: none;
    background: #fff;
    border-bottom: 0;
    border-top: 1px solid #bbb;
    height: 24px;
    font-weight: normal;
}

.WWU_link {
    height: 16px !important;
    width: 16px !important;
}

.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks {
    /* shift the Advanced Search link up to accomodate Search Tips */
    padding-top: 0.8em;
}

.EXLMainMenuITEMFindInDB {
    display:none;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#newMenu {
    /* WWU blue 003f87  */
    border-bottom: 1px solid #999;
    box-shadow: 2px 3px 3px #CCC;
    background: #003f87;
    color: #FFF;
    clear:both;
    width:100%;
    height: 50px;
    padding: 5px;
    font-weight: normal;
    margin-top:0;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-left: 25px;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
}



li.divider {
    border-left: 1px solid #FFF;
    margin-top: 10px !important;
    height: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
}


#newMenu.small {
    font-size: 11px;
    padding-top: 10px;
    z-index: 100;
    height: 15px;
}

#logo.small {
    width: 100px;
    padding: 0;
    padding-left: 50px;
    margin-top: -6px
}

#help a.menuitem.small {
    font-size: 25px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

#exlidUserAreaRibbon li {
    background: none;
}

#exlidUserAreaRibbon li span.EXLUserAreaStart {
    background: none;
}

#libchat_btn_widget_link {
    width: 35px;
}

 #exlidUserAreaRibbon li.EXLUserName {
    font-weight: normal;
    font-size: 0.85em;
}

div#libchat_btn_widget {
    margin-top: 0px;
}

#exlidSearchTabs li {
    padding-right: 20px !important;
    border-width: 1px;
}


#exlidSearchTabs li.EXLSearchTabSelected {
    border-color: #ccc;
}

#exlidUserAreaRibbon li span.EXLUserAreaStart {
    height: inherit;
    width: inherit;
}

.fadein {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    color: #666;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#help {
    float: right;
    position: absolute;
    right: 25px;
    top: -10px;
    font-size: 1.7em;
    color: #FFF;
}

a.submenuitem .icon {
    font-family: 'entypo', 'Open Sans', Oxygen, sans-serif !important;    
    font-size: 35px;
    padding: 7px;
    text-decoration: none;
}

#help a:hover {
    opacity: 1;
    text-decoration: none;
}

.icon {
    font-family: "entypo" !important;    
    text-decoration: none;
    line-height: 2px;
}

@keyframes move {
  from { top: 0; left: 0; }
  to   { top: 100px; left: 100px; }
}

/*
#help a:hover {
    -webkit-transition: move 0.4s linear, opacity 0.25s;
    -moz-transition: move 0.4s linear, opacity 0.25s;
    transition: move 0.4s linear, opacity 0.25s;
}
*/

#username {
    font-size: 1.4em; 
    color: #FFF;
    opacity: 0.7;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Shadows Into Light', cursive !important;
}

/*
#username:before {
    content: "Hello ";
}

#username:after {
    content: " :) ";
}
*/

#exlidUserAreaRibbon {
    display: none;
}

#exlidUserAreaTile {
    display: none;
}

#exlidMainMenuContainer {
    display: none;
}

.EXLSearchFieldRibbonBrowseSearchLink {
    display: none;
}

.EXLSearchFieldRibbonAdvancedSearchLink {
    display: none;
}

#didnt_find_div {
    text-align: center;
}

#didnt_find_link {
    font-size: 1.2em;
    width:  100%;
}

.EXLResultsList td {
    margin-bottom: 5px;
    border-bottom: 1px dotted #efefef !important;
}

/* http://www.cssanimate.com/ */

#help2 a:hover {
  animation: animationFrames linear 0.1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 0.8s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 0.8s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    transform:  translate(0px,0px)  ;
  }
  15% {
    transform:  translate(0px,-5px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  15% {
    -moz-transform:  translate(0px,-5px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  15% {
    -webkit-transform:  translate(0px,-5px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

.EXLTabsRibbon div li.EXLResultTab a {
    color: #777;
}

.EXLResultTabs .tabrow {
    border: 0px !important;
}

.menuitem {
    position: relative;
    z-index: 3;
}

.menuitem:hover {
    opacity: 1.0;
}

.reverse {
    display:inline-block; 
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


.tooltip {
    background: #FFF;
    opacity: 1;
    font-size: 240% !important; 
    display: none;
    background-image: url('//libweb1.library.wwu.edu/primo/images/tooltips/tooltips.png');
    background-repeat: no-repeat;
    background-position: top left;
    font-family: 'Shadows Into Light', cursive !important;
    color: #000 !important;
    top: 25px;
    line-height: 25px;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;

    left: 15px;
    border-radius: 5px;
    position: absolute;
    z-index: 19999;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
 }



.tooltip-right {
    font-size: 240% !important; 
    opacity: 0.8;
    display: none;
    background: #FFF;
    background-image: url('//libweb1.library.wwu.edu/primo/images/tooltips/tooltip-right.png');
    background-repeat: no-repeat;
    background-position: top right;
    font-family: 'Shadows Into Light', cursive !important;
    color: #000 !important;
    top: 25px;
    line-height: 25px;
    float:right;
    padding-top: 25px;
    padding-right: 45px;
    padding-left: 15px;
    padding-bottom: 15px;
    right: 15px;
    border-radius: 5px;
    position: absolute;
    z-index: 19999;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
}




.menuitem:hover .tooltip, .menuitem:hover .tooltip-right { /* display tooltip on hover */
    display: block;
}

#help:hover > span.menuitem {
    /* blur all of the icons on hover */

    /*
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px); 
    -o-filter: blur(1px); 
    -ms-filter: blur(1px);
    */

    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
    transition: 0.5s -webkit-filter linear;
}

#help:hover > span.menuitem:hover {
    /* remove blur for the icon being hovered over */
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px); 
    -o-filter: blur(0px); 
    -ms-filter: blur(0px);

    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
    -ms-transition: linear 0.1s;
    -o-transition: linear 0.1s;
    transition: linear 0.1s;
    transition: 0.1s -webkit-filter linear;
}

.blur {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.noblur {
    filter: blur(0px) !important;
    -webkit-filter: blur(0px) !important;
}


#exlidSearchTabs {
    z-index: 1;
}

#exlidSearchTabs li.tab a:hover .tabtip { /* display tooltip on hover */
    display: block;
    z-index: 9999;
}




#exlidSearchTabs:hover > li.EXLSearchTab.tab {
    /* blur all of the icons on hover */
    /*
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px); 
    -o-filter: blur(1px); 
    -ms-filter: blur(1px);
    */
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -ms-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
    transition: 0.5s -webkit-filter linear;
}

#exlidSearchTabs:hover > li.EXLSearchTab.tab:hover {
    /* remove blur for the icon being hovered over */
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px); 
    -o-filter: blur(0px); 
    -ms-filter: blur(0px);

    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
    -ms-transition: linear 0.1s;
    -o-transition: linear 0.1s;
    transition: linear 0.1s;
    transition: 0.1s -webkit-filter linear;
}







.tabtip {
    background: white;
    opacity: .9;
    font-size: 100%; 
    display: none;
    background-image: url('//libweb1.library.wwu.edu/primo/images/tooltips/tooltips.png');
    background-repeat: no-repeat;
    background-position: top left;

    /* font-family: 'Shadows Into Light', cursive !important; */
    font-family: 'open sans', sans-serif !important;

    color: #000 !important;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 0px;
    padding-bottom: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 9999;
    top: 0px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
    min-width: 50px;
    min-height: 50px;
    max-width: 250px;
    max-height: 250px;
    word-wrap: break-word;
 }


 #filterList {
    font-size: 11px;
    display: none;
    position:absolute;
    top: 0px;
    max-height: 300px;
    max-width: 400px;
    background: white;
    overflow: scroll;
    border-radius: 5px;
    padding: 5px;
    z-index: 9999;
    width: 300px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-right: 1px solid #bbb;
    box-shadow: 2px 3px 3px #ccc;
    border-bottom: 0px solid #444444;
 }

#filterList .EXLFacetContainer ol li {
    font-size: 100%;
}

#filterList li.EXLFacetsDisplayMore {
    display: none;
}

#filterList .EXLDateRangeText { 
    display: none;
}

#filterList li.EXLFacet {
    padding-left: 3px;
}

li.EXLFacet > a {
    color: #777;
}

.EXLFacetContainer > h1, .EXLFacetContainer > h3 , .EXLFacetContainer > h4 {
    font-weight: normal;
}

#addFilter {
    color: #999;
    font-size: 58px;
    float: right;
    top: -20px;
    position: relative;
    right: 10px;
}

#addFilter:hover > #filterList {
    display: block;
}

.filterButton {
    /* This css button was partially generated by css-button-generator.com */
/*    float:right;
*/    font-weight:normal;
    font-size: 11px;
    color: white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3866a3;
    padding:5px 11px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #468ccf) );
    background-color:#99b2cf;
    display:inline-block;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    box-shadow:inset 1px 1px 0px 0px #bee2f9;
}

.filterButton:hover {
    background:-moz-linear-gradient( center top, #99b2cf 5%, #63b8ee 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#63b8ee');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #63b8ee) );
    background-color:#99b2cf;
}

.filterButton:active {
    position:relative;
    top:1px;
}

.filterButtonDiv {
    margin-bottom: 13px;
}


#exlidSearchBanner {
    /* this holds the chat with a librarian widget */
    /*      display:none;   */
}

.EXLMainMenuITEMHelp {
    display: none;
}

#chatDiv {
    background: transparent;
    position: fixed;
    top: 86px;
    right: 10px;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    z-index: 998;
}

#chatDivLinkContainer {
    clear: both;
    height: 50px;
    /* margin-top: -59px; */
}

#chatDiv #chatDivLinkContainer  {
    text-decoration: none;
    font-size: 60px !important;
    position: relative;
    z-index: 0 !important;
}

#chat-with-a-librarian-icon {
    float:right;
}

#chatDivText {
    font-size: 11px;
    z-index: 1;
    background: #FFF;
    color: #668cb7;
}

#chat-with-a-librarian-icon {
    color: #99b2cf;
    font-size: 35px;

}

#chatDiv:hover #chatDivLinkContainer  {
    clear: both;
    color: #ccd9e7;
}

.gotoPageInput {
    border: 1px dotted #999;
    width: 15px;
}

.gotoPageInputToolTip, .gotoPageInputToolTipLinks {
    width: 200px;
    opacity: 1.0;
    display: none;
    background: #FFF;
    color: #000 !important;
    float:right;
    padding-top: 25px;
    padding-right: 45px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    z-index: 19999;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
    top: 100px;
    right: 0px;
    display:  none;
    position: absolute;

}

.gotoPageInputToolTip.Bottom {
    top: -200px;
    right: 0px;
    display:  none;
    position: relative;
    background-image: none !important;
}

#exlidHeaderSystemFeedbackContent strong {
    /* did you mean? */
    background: none;
    right: 128px;
    top: 154px;
    position: absolute;
    font-weight: normal;
}

.EXLRemoveRefinement {
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;

}


.EXLResultsHeader div.EXLResultsNumbers * {
    min-height: 23px;
    font-weight: normal;
}

.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy {
    z-index: 0;
}

#newHorizonalMenu {
    z-index: 9999;
    padding: 15px; 
    margin: 15px; 
    margin-top: 15px;
    font-size: 1em;
    padding-right: 15px;
    list-style-type:none;
    color:#fff;
    float: left;
}

#newHorizonalMenu li { 
    z-index: 9999;
    color:#fff;
    float:left; 
    padding: 5px;
    margin: 5px;
}

#newHorizonalMenu li a {
    padding: 0px;
    display:block;
    color:#fff;
    text-decoration:none;
    font-size: 1em !important;
}

/* Submenu */
#newHorizonalMenu ul {
    background-color: #FFF;
    z-index: 9999;
    position:absolute;
    left:-9999px;
    top:-9999px;
    list-style-type:none;
    padding-bottom: 15px;
}

#newHorizonalMenu li:hover { 
    z-index: 9999;
    position:relative; 
}

#newHorizonalMenu li:hover ul {
    z-index: 9999;
    left:0px;
    top:-30px;
    background:blue;
    padding:0px;
}

#newHorizonalMenu li:hover ul li a {
    z-index: 9999;
    padding:5px;
    display:block;
    width:168px;
    background-color:#FFF;
}

#newHorizonalMenu li:hover ul li a:hover { 
    z-index: 9999;
    background:#EFEFEF; 
}


.spinner {
    display: none;
    position: absolute;
    top: 236px;
    right: 47px;
    width: 8px;
    height: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF #DDD #BBB #999;
    border-radius: 40px;
    -webkit-animation: spin 1s linear infinite; 
    -moz-animation: spin 1s linear infinite;
}

.pageLoadDelay {
    display: none;
    position: absolute;
    top: 226px;
    right: 40px;
    width: 150px;
}


#myAccountMenuHeading a {
    color: #FFF !important;
}


body.EXLFullView div.EXLResultsContainer {
    margin-top:25px;
}

#exlidResultsTable tr td {
    padding-top: 20px;
    padding-bottom: 20px;
}


#lookingFor {
    padding-bottom: 25px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #aaa;
    text-align: left;
    font-weight: normal;
    font-size: 1.1em;
    display: none;
}

#right:target #lookingFor {
    float: right;
}

#help {
    padding-right: 25px;
}

#kba_nav {
    z-index: 9999;
}

/* menu */
/*
#kba_nav {
    margin-top: -42px !important;
}

#kba_nav a { 
    display: block;
    text-decoration: none;
    color: black;
}
#kba_nav a:hover, #kba_nav a:focus { 
    color: #668cb7 !important;
    outline: none;
    border-bottom: 1px dotted #efefef;
}

*/

ul.menubar {
    list-style: none;
    min-width: 260px;
    /*    float: right; */
    border: red 0px solid;
}
ul.menubar > li {
    float: left;
    display: inline; 
    position: relative;
    margin: 0;
    width: auto;
}
ul.menu {
    position: absolute;
    left: 0;
    /* top: 1em; */
    display: none; 
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid black;
    background-color: #FFF;
    width: 175px;
}
ul.menu li {
    float: none;
    display: block;
    white-space: nowrap;
}
li.menu-hover, li.menu-focus {
    color: red;
    outline: none;
}
li.menu-hover > a, li.menu-focus > a { 
    color: #999 !important;
    outline: none;  
}

ul.submenu {
    margin-top: 0px !important;
    margin: 2px;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 0px solid #ccc;
    box-shadow: 2px 3px 3px #ccc;
}

ul.submenu li {
    margin: 2px !important;
    padding: 2px !important;
}

#newMenu ul li a, #newMenu ul li {
    font-size: 100%;
    text-decoration:  none;
}

/*
#kba_nav.small {
    margin-top: -34px !important;
    position: absolute;
    right: 0;
}

#kba_nav.small a { 
    font-size: 11px !important;
}
*/

#helpSubMenu {
    left: -80px;
}

#myAccountSubMenu {
    left: -70px;
    width: 120px;
}

.EXLMyAccountContainer {
    padding-top: 5px;
    clear: both;
}

.EXLMyAccountTabsRibbon {
    border: 0;
}

.EXLMyAccountMainContainer div.EXLMyAccountMainHeader {
    padding-top: 0px;
}


#exlidSearchTile.EXLSearchEJorunals fieldset label {
    margin-left: -156px;
}

#exlidHeaderContainer {
    height: 250px;
}

#exlidResultsContainer.browse {
    /* margin-top: 300px; */
}

#exlidResultsContainer.browse #permalinkPretty {
    display: none;
}

.EXLSearchFieldRibbonFormSearchForMaximized .EXLSearchFieldRibbonFormSearchFor {
    width: 100%;
}

.EXLSearchFieldRibbonFormSearchFor {
    width: 100%;
}

.EXLSearchFieldRibbonFormSelectedCollection {
    padding: 1px 13px 14px 3px;
    border-right: 0px none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-size: 14px;
    font-weight: normal;
    color: #444;
    z-index: 0;
    opacity: 0.99;
    border: 0px;
    /* box-shadow: 0px 3px 3px #CCC; */
    width: 90%;
    text-overflow: ellipsis;
    /* margin-left: 17px; */
    margin-top: 7px;
    height: 19px;
} 

.EXLSearchFieldRibbonFormSelectedCollectionLabel a {
    background-position: 100% 50%;
    line-height:  100%;
    padding-top: 5px;
}

.EXLSearchFieldRibbonFormSearchClear {
    float: right;
    top: -34px;
    width: 30px;
    position: relative;
    height: 2.6em;
    border-top: 0px none;
    background: #FFF;
}

.EXLSearchFieldRibbonFormSearchClear.wwu.shadow  > .EXLClearSimpleSearchBoxButtonClose {
    background-image: none !important;
}

#exlidHeaderContainer {
    height: auto;
}

.EXLSearchFieldRibbonFormCollectionsList {
    font-size: 1.5em;
    color: #444;
    z-index: 999;
    background: #FFF;
    padding: 5px;
    margin: 5px;
    opacity: .99;
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;

    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;

    -webkit-border-radius-topright: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;

    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
    margin-left: -85px;
}

.EXLFooterTile {
    display: inherit;
    display: none;
}

#footerEXL {
    display: none;
    position: relative;
    bottom: 0;
    margin-top:  15px;
}

.EXLFooterTile div.EXLFooterLinksContainer {
    float: none;
    margin-top: 5px;
    margin-bottom: 20px;
    min-height: auto;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
}

.EXLFooterUpdateContainer {
    display: none;
}




#dateSubmit {
    width: auto;
    height: auto;
    float:right;
    font-weight:normal;
    font-size: 11px;
    color: white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3866a3;
    padding:5px 11px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #468ccf) );
    background-color:#99b2cf;
    display:inline-block;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    box-shadow:inset 1px 1px 0px 0px #bee2f9;

}


.fa {
    font-family:  FontAwesome !important;
}

.fa-input {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#more-feedback {
    width: 250px;
    height: 40px;
    display: none;
    float: right;
    font-size: 11px;
}

#more-feedback * {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon {
    padding-bottom: 32px;
    min-width: 800px
}

.EXLSearchFieldRibbonFormBrowseSearchFor {
    border: 0;
}

#exlidAdvancedSearchRibbon div.EXLBrowseFieldRibbon {
    border: 0;
}

.datebox {
    font-size: 70%;
    width: 29px;
}

.showHideFilters {
    margin-left: 5px;
    font-size: 85%;
    color: #999;
    cursor: hand;
    cursor: pointer;
    background: transparent;

}


/* Box Shadow Outset */
.box-shadow-outset {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.box-shadow-outset:hover, .box-shadow-outset:focus, .box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}





#basic-text {
    display: none;
    background: white;
    opacity: .9;
    font-size: 150%; 
    background-image: url('//libweb1.library.wwu.edu/primo/images/tooltips/arrow-down-left.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    /* font-family: 'Shadows Into Light', cursive !important; */
    font-family: OpenSans, sans-serif, verdana;
    color: #000 !important;
    line-height: 25px;
    padding-top: 0px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 9999;
    top: -150px;
    left: 15px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
    min-width: 100px;
    min-height: 50px;
    max-width: 250px;
    max-height: 50px;
    word-wrap: break-word;
}

#adv-text {
    display: none;
    background: white;
    opacity: .9;
    font-size: 150%; 
    background-image: url('//libweb1.library.wwu.edu/primo/images/tooltips/arrow-down-left.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    /* font-family: 'Shadows Into Light', cursive !important; */
    font-family: OpenSans, sans-serif, verdana;
    color: #000 !important;
    line-height: 25px;
    padding-top: 0px;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 9999;
    top: -150px;
    left: 60px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
    min-width: 100px;
    min-height: 50px;
    max-width: 250px;
    max-height: 50px;
    word-wrap: break-word;    
}

.EXLRecommendTabDisable {
    display: none !important;
}



.header-icon {
    font-family: "entypo" !important;    
    text-decoration: none;
    line-height: 0;
    font-size: 30px;
    text-decoration: none;
}

h3.EXLResultAuthor {
    font-size: 125%;
    font-size: 100%;
    color: #999;
    /*
    position: relative;
    top: 20px;
    left: 100px;
    */
}

.EXLResultDetails {
    color: #999;
}

/* This css button was generated by css-button-generator.com */

.tab-button {
    margin: 5px;
    font-size: 11px;
    color: white !important;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #3866a3;
    padding:5px 11px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #468ccf) );
    background-color:#99b2cf;
    display:inline-block;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    box-shadow:inset 1px 1px 0px 0px #bee2f9;
}

.tab-button:hover {
    text-decoration:  none !important;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #63b8ee 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#63b8ee');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #63b8ee) );
     background-color:#99b2cf; 
}

.tab-button:active {
    position:relative;
    top:1px;
}

div.EXLTabHeaderButtons ul li.EXLTabHeaderButtonSendTo-button  {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    padding:4px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

div.EXLTabHeaderButtons ul li.EXLTabHeaderButtonSendTo  {
    background-color:#f9f9f9;
    background-color: inherit;
    border:1px solid #dcdcdc;
    border: 0px;
    color:#666666;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}


li.EXLTabHeaderButtonSendTo a:active {
    position:relative;
    top:1px;
}

.EXLTabHeader div.EXLTabHeaderButtons li {
    background-image:  none;
    padding: 5px;
    border: 0px;
}

.EXLTabHeader div.EXLTabHeaderButtons li span {
    background-image:  none;
}


/* enlarge the font for display.do details section */
div.EXLDetailsContent > * {
    font-size: 115%;
    font-family: "Open Sans";
}


.EXLDetailsTabContent div.EXLDetailsContent ul li {
    overflow: hidden;
    clear: left;
    margin-bottom: 2%;
}

.EXLDetailsTabContent div.EXLDetailsContent ul li strong {
    margin-right: 2%;
    float: left;
    width: 33%;
    text-align: right;
    font-weight: normal;
}

.EXLLinkedFieldTitle {
    display: block !important;
    margin-left: 35%;
}

.EXLDetailsDisplayVal {
    display: block;
    margin-left: 35%;
}

.morelink {
    display: block;
    width: 95px;
    margin-left: 35%;
    margin-bottom: 15px;
    margin-top: 9px;
    font-size: 12px;

    /* this is copied from .tab-button */
    color: white !important;
    border-radius: 8px;
    border: 1px solid #3866a3;
    padding: 5px;
    text-decoration: none;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #468ccf) );
    background-color: #99b2cf;
    -webkit-box-shadow: inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow: inset 1px 1px 0px 0px #bee2f9;
    box-shadow: inset 1px 1px 0px 0px #bee2f9;
}

.morelink:hover {
    text-decoration:  none !important;
    background:-moz-linear-gradient( center top, #99b2cf 5%, #63b8ee 100% );
    background:-ms-linear-gradient( top, #99b2cf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99b2cf', endColorstr='#63b8ee');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #99b2cf), color-stop(100%, #63b8ee) );
     background-color:#99b2cf; 
}

.morelink:before {
    content: "\f078";
    font-family: FontAwesome;
   color: #FFF;
   padding-right: 6px;
}

.morelink.less:before {
    content: "\f077";
    font-family: FontAwesome;
   color: #FFF;
   padding-right: 7px;
}


.EXLLinkedField {
    display: block;
    margin-left: 35%;
}

body.EXLFullView .EXLTabHeaderButtonSendTo {
    width:inherit !important;
}


body.EXLFullView .EXLTabHeader div.EXLTabHeaderButtons li {
    padding: 0px;
    background: #FFF;
}

.EXLTabsRibbon div li.EXLResultSelectedTab {
    background: none !important;
    border: 0px !important;
    margin-left: 0px;
    height: inherit;
}

.EXLTabsRibbon div li.EXLResultSelectedTab a {
    padding: 5px 11px;
}

.EXLResultTabs > li {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 3px !important;
}


body.EXLFullView .EXLTabHeader div.EXLTabHeaderButtons {
    padding: 0.5em 0.5em 1em;    
    margin-right: 50px;
    width: 200px;
}
.EXLTabHeader div.EXLTabHeaderButtons ul {
    float: left;
}

.EXLTabHeaderButtonSendToList {
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;

    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;

    -webkit-border-radius-topright: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;

    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;
}

.EXLTabHeaderButtons > * {
    z-index: 0 !important;
}


.EXLTabHeader div.EXLTabHeaderButtons li > a ~ a {
    color: #000;
    margin-left: -15px;
    padding-left: 21px;
}

body.EXLFullView div.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList {
    /* list-style-image:  url("/primo_library/libweb/images/bullet_arrow_grey.png"); */
    left: 0px;
    top: 13px;
    width: 200px;
    border: 0px !important;
    background-color: #FFF;
}

EXLTabHeaderButtonSendToList {
    background: #FFF;
}


.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList {
    background-color:  #FFF;
}

.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li span.EXLButtonSendToIcon {
    position: absolute;
    left: 136px;
}

.EXLTabHeader div.EXLTabHeaderButtons li ol {
    -webkit-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;

    -webkit-border-radius-bottomright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;

    -webkit-border-radius-topright: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;

    border-top: 0;
    border-left: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 2px 3px 3px #ccc;

}

/* hide the facet checkboxes, because we want to use images to control their appearance */
/* thanks to http://stackoverflow.com/questions/3772273/pure-css-checkbox-image-replacement */
/* see http://fontawesome.io/cheatsheet/ for the icons we are using */

input[type=checkbox].facetcheckbox {
    position:  absolute;
    left: -1000px;
}

input[type=checkbox].facetcheckbox + label:before {
        content: "\f096";
        font-family: FontAwesome;
       display:inline-block;
       padding: 0 0 0 0px;
       color: #999;
       padding-right: 5px;
   }
   
   input[type=checkbox].facetcheckbox:checked + label:before {
        content: "\f046";
        font-family: FontAwesome;
        display:inline-block;
        padding: 0 0 0 0px;
       color: #999;
       padding-right: 5px;
       border: 1px black dotted;
    }

   input[type=checkbox].facetcheckbox:indeterminate + label:before {
        content: "\f146";
        font-family: FontAwesome;
        display:inline-block;
        padding: 0 0 0 0px;
       color: #999;
       padding-right: 5px;
    }


 .facetcheckbox:focus + label {
    border: black 1px dotted;
 }

input[type=checkbox].facetcheckbox + label::focus::before {
    border: 1px solid #00f;
}


a.facetLink.exclude:before {
    content: "\f146";
    font-family: FontAwesome;
    font-size: 16px;
    color: #999;
    padding: 5px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none;
}

/* 
 fa-remove
 fa-square-o [&#xf096;] 
  fa-check-square-o [&#xf046;] 
   fa-minus-square [&#xf146;] 
    fa-close (alias) [&#xf00d;] 
   */


   .strike {
        text-decoration: line-through !important;
   }

    #exlidSearchRibbon div.EXLDynamicSelectBodyRadio a {
        display: inline;
    }

   #hrtooltip {
        padding-left: 15px;
   }

   .menu-item {
        display: block;
        white-space: nowrap;
        float: left;
        clear: left;
   }

   .submenuitem > .fa {
        margin-right: 4px;
   }

a#libchat_btn_widget2 {
    cursor: pointer;
}

a#libchat_btn_widget2:hover {
    text-decoration: none;
    color: #333;
}

.rap-bug {
    float: right !important;
    display: inline !important;
    width: 16px !important;
    padding-right: 5px;
    color: #999;
    position: absolute;
    left: 131px;
    top: 5px;
}

.cover_image {
    top: -75px;
}

#chat-iframe {
    min-height: 300px;
}

#footerEXL {;
    z-index:  0;
}

.EXLReviewsTab.EXLResultTab {
    display:none !important;
}


.EXLTabHeaderButtonSendTo > a {
    /* make the Actions link look like a button */
    color: #FFF !important;
    border-radius: 8px;
    border: 1px solid #3866A3;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px 0px 0px #BEE2F9 inset;
    text-shadow: none;
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #63b8ee 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #63b8ee), color-stop(100%, #468ccf) );
    background-color:#63b8ee;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    box-shadow:inset 1px 1px 0px 0px #bee2f9;
}

.EXLTabHeaderButtonSendTo img {
    padding-left: 10px;
}




.EXLClearSimpleSearchBoxButtonClose {
  background: #FFF url("//libweb1.library.wwu.edu/primo/images/clear-search.png") no-repeat scroll 27% 21% !important;
  width: 35px !important;
  height: 40px;
  box-shadow: none;
  border: medium none !important;
  margin-top: -7px;
}


.EXLPopupPermalinkContainer {
    top: 200px;
    position: relative;
}


.EXLMyAccountMainMenuContainer ol li {
    white-space: nowrap;
}


#exlidSearchTile.EXLSearchEJorunals {
    /* this could have gone into the az.css file, but we need it to load immediately to prevent the background from flashing */
    background-image: none;
    background: none;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab {
    background-color:  #FFF;
    border:  1px #CCC solid;
    background-image: none;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab a {
    color: #000;
}

.buttonGo a {
    /* e-Shelf page */
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color: #f9f9f9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #666666;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}



.EXLEshelfDocumentDetailsIFrame > .EXLTabHeaderButtonSendTo > a {
    /* make the Actions link look like a button */
    color: #FFF !important;
    border-radius: 8px;
    border: 1px solid #3866A3;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px 0px 0px #BEE2F9 inset;
    text-shadow: none;
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    background:-ms-linear-gradient( top, #63b8ee 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #63b8ee), color-stop(100%, #468ccf) );
    background-color:#63b8ee;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    -moz-box-shadow:inset 1px 1px 0px 0px #bee2f9;
    box-shadow:inset 1px 1px 0px 0px #bee2f9;
}


body.EXLFullView div.EXLBackToResults {
    font-size: 100%;
}

body.EXLFullView div.EXLBackToResults.top {
    margin-top: 20px;
    margin-left: 5px;
}


.EXLResultsHeader div.EXLResultsNavigation {
    font-size: 75%;
}

.EXLFullView .EXLResultsHeader div.EXLResultsNavigation  {
    font-size: 100%;
}

.EXLResultsNavigation img {
    padding: 5px;
}

#mainMenuLinks {
    float: right;
    padding-right: 20px;
    margin-top:4px;
    background: #EFEFEF;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 8px;

    background: #D1D1D1;
    background: -o-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
    background: linear-gradient(top, #f9f9f9 60%, #D1D1D1 100%);
    border:1px solid #dcdcdc;
}


#mainMenuLinks ul li {
    color: #003f87;
    z-index: 999;
    padding: 5px;
}

#mainMenuLinks >  * {
    color: #003f87 !important;
    font-size: 80%;
}

a#feedbackLink, a#feedbackLink:hover {
    color: #003f87 !important;
}

a#loginLinkMenu, a#loginLinkMenu:hover {
    color: #003f87 !important;
}

#chatModal {
    display: none;
    background: #efefef;
    position: fixed;
    bottom:172px;
    right: 10px;    
    margin-margin: 50px;
    width: 300px;
    height: 250px;
    z-index: 999;
    border-radius: 8px;
    -webkit-box-shadow: 4px 7px 55px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 7px 55px 1px rgba(0,0,0,0.35);
    box-shadow: -4px 7px 55px 1px rgba(0,0,0,0.35);
    padding-bottom: 25px;    
}

#chat-with-a-librarian-h4 {
    font-weight:  normal;
    color: #999;
    padding: 5px;
}

.chat0 {
    border-radius: 10px;
}

#chat-note {
    padding: 5px;
    font-size:  11px;
    background: #efefef;
    color: #444;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
}

div#exlidSearchBanner a:link {
    font-size: 100%;
}

.EXLFacetList.EXLTopLevelFacetList  {
    /* hide "Expand my Results" */  
    display: none;    
}

img#scopesOverview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 995px;   /* default */
    width: 845px;   /* 15% reduction */
}

.EXLResultsList em.EXLResultStatusNotAvailable {
    /* hide "availability ball" */
    background-image: none;
}

.EXLResultsList em.EXLResultStatusMaybeAvailable {
    /* hide "availability ball" */
    background-image: none;
}

em.EXLInstititutionSelectionInstName, em.EXLInstititutionSelectionInstName a {
    /* turn off institution link functionality in "Summit Libraries" link */
    pointer-events: none;
    cursor: default;
    color: black;
}

.EXLPopupOpenUrlContainer {
    /*position of Permalink pop-up*/
    margin-top: 10em;
}

.EXLLightbox div.EXLLightboxFormContainer .EXLInstititutionSelectionInstAvailability {
    /*adjust position of availability markers*/
    margin-right: 1em !important;
}
.EXLLightbox div.EXLLightboxFormContainer div.EXLInstititutionSelectionRowValue em.EXLResultStatusavailable {
    /*adjust alignment of "available" indicator*/
    min-width: 10.8em;
}

#exlidSaveCitationtile {
    /*adjust vertical alignment of citation pop-up*/
    margin-top: 10em;
}

.EXLMyAccountMainContainer div.EXLMyAccountEditLink {
    /* turn off link functionality in "Edit details" link */
    pointer-events: none;
    cursor: default;
    color: black;
}

#exlidSaveCitationtile div.EXLSaveCitationDisclaimerRow div.EXLSaveCitationDisclaimer {
    /* make disclaimer more noticeable */
    color: red;
    font-size: 120%;    
}

.EXLResultsList div.EXLSummaryContainer cite.EXLResultFRBR {
    /* push "View all Versions" in from edge */
    float: right;
}

.EXLMyAccountTabsRibbon {
    /* remove padding to cut down on whitespace */
    padding: 0;
}

#exlidSearchTile {
    /* remove bottom margin to cut down on whitespace */
    margin-bottom: 0px;
}


/* make the eShelf star bigger */

h2.EXLResultTitle > a > img {
    width:  13px;
    height: 13px;
}

/*
h2.EXLResultTitle > a > img:before {
    content: "\f006";
    font-family: FontAwesome;
    font-size: 16px;
    color: #999;
}
*/



#libchat_btn_widget > a > img {
    width: 109px;
    height: 68px;
}

body.EXLFullView div.EXLSummaryFields {
    /*add space to bring title/availablity below blue header in full details display*/
        margin-top: 80px;
}


.tab-button:focus, .EXLTabHeaderButtonSendTo > a:focus {
    border: 2px dotted #000;

}



@keyframes yellowfade {
    from { background: yellow; }
    to { background: transparent; }
}

.new-item {
    animation-name: yellowfade;
    animation-duration: 1.5s;
}


#expandMyResults {
    float: right;
    font-size: 75%;
}

#expandMyResults .loading {
    display: block;
    width: 8px;
    height: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF #DDD #BBB #999;
    border-radius: 40px;
    -webkit-animation: spin 1s linear infinite; 
    -moz-animation: spin 1s linear infinite;

}



@media only print {
    #resultsListNoId * {
        background: white;
    }

    a.tab-button {
        color: black !important;
    }

    #search_field {
        background:  white;
    }

    #wwu-permalink {
        display: none;
    }
}

/* System feedback container position*/
#exlidHeaderSystemFeedbackContent strong {
	position: relative;
	top: -45px;
}

/* Virtual Browse tab disabled temporarily (restore after Nov.2016 release) */
.EXLTabsRibbon div li.EXLBrowseshelfTab {
    display: none;
}