/* David Bass @ WWU - 19 Sep 2014 */
/* http://css-tricks.com/examples/RoundOutTabs2/ */

/* roundout tabs */

	#tab-row {
		margin-top: 5px;
		margin-bottom: 5px;
		padding-bottom: 5px;
	}
	
	.group:before,
	.group:after {
	    content: "";
	    display: table;
	}
	.group:after {
	    clear: both;
	}
	.group {
	    zoom: 1;
	}

	.tabrow {
	    text-align: left;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    line-height: 24px;
	    height: 26px;
	    overflow: hidden;
	    position: relative;
	    padding-left: 8px;
	}

	.tabrow li {
	    border: 1px solid #AAA;
	    background: #D1D1D1;
	    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
	    display: inline-block;
	    position: relative;
	    z-index: 0;
	    border-top-left-radius: 6px;
	    border-top-right-radius: 6px;
	    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
	    text-shadow: 0 1px #FFF;
	    margin: 0 -5px;
	    padding: 0 20px;
	}

	.tabrow-new li {
	    border: 1px solid #AAA;
	    display: inline-block;
	    position: relative;
	    z-index: 0;
	    border-top-left-radius: 6px;
	    border-top-right-radius: 6px;
	    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
	    text-shadow: 0 1px #FFF;
	    margin: 0 -5px;
	    padding: 0 20px;

	    background: #EEE;
	    background-image: -moz-linear-gradient(top, #FFF, #EEE);
	    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(1, #EEE));
	    background-image: -webkit-linear-gradient(top, #FFF, #EEE);
	    background-image: -moz-linear-gradient(top, #FFF, #EEE);
	    background-image: -ms-linear-gradient(top, #FFF, #EEE);
	    background-image: -o-linear-gradient(top, #FFF, #EEE);

		border: 1px solid #bbb;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}

	.tabrow a {
		  color: #555;
		  text-decoration: none;
	}

	.tabrow li.selected {
	    background: #FFF;
	    color: #333;
	   	z-index: 2; 
	    border-bottom-color: #FFF;
	}

	.tabrow:before {
	    position: absolute;
	    content: " ";
	    width: 87%;
	    bottom: 0;
	    left: 0;
	    border-bottom: 1px solid #AAA;
	    z-index: 1;
	}

	.tabrow li:before,
	.tabrow li:after {
	    border: 1px solid #CCC;
	    position: absolute;
	    bottom: -1px;
	    width: 5px;
	    height: 5px;
	    content: " ";
	}

	.tabrow li:before {
	    left: -6px;
	    border-bottom-right-radius: 6px;
	    border-width: 0 1px 1px 0;
	    box-shadow: 2px 2px 0 #D1D1D1;
	}
	.tabrow li:after {
	    right: -6px;
	    border-bottom-left-radius: 6px;
	    border-width: 0 0 1px 1px;
	    box-shadow: -2px 2px 0 #D1D1D1;
	}
	.tabrow li.selected:before {
	    box-shadow: 2px 2px 0 #FFF;
	}
	.tabrow li.selected:after {
	    box-shadow: -2px 2px 0 #FFF;
	}





	.tabrow li:hover {
		-webkit-transition: opacity 0.2s linear;
		background-image: -moz-linear-gradient(top, #FFF, #EEE);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFF),color-stop(1, #EEE));
		background-image: -webkit-linear-gradient(top, #FFF, #EEE);
		background-image: -moz-linear-gradient(top, #FFF, #EEE);
		background-image: -ms-linear-gradient(top, #FFF, #EEE);
		background-image: -o-linear-gradient(top, #FFF, #EEE);
	}





	.tab a:hover {
		text-decoration: none;
	}

	.tab a {
		color: #333;
		text-decoration: none;
	}



	.tab {
		cursor: pointer;
		cursor: hand;
	    font-size: 13px;
	    min-width: 50px;
	}

	.tab_content {
		display: none;
	}

	.selected_tab_content {
		display: block;
	}

	
	
	
	
	.tabrow {
	    overflow: hidden !important; 
	    text-decoration: none;
	}

	
	
	
/* contentdm specific */


		
.tab_content .listItem {
	width: 110px;
	height: 205px;
	margin: 10px 35px 10px 0;
}
	
.tab_content .listItem .body_link_11	{
	font-weight: normal;
}
	

.tab_content img.results_tn_img {
	border: 1px solid #000000;
	vertical-align: bottom;
	max-height: 110px;
	max-width: 110px;
}	
	
#link_bar_search_bottom {
	display: none;
}
	
.listContentBottom.float_left.line_breaker {
	margin-top: -30px !important;
}


#paginationLinksExact.link_bar_pagination, #paginationLinksAll.link_bar_pagination, #paginationLinksAny.link_bar_pagination {
	min-width: 220px;
	float:right;
}

div#resultsExact, div#resultsAll, div#resultsAny {
	clear: both;
}



	
	
	/* thanks to http://jamesw.me/labs/css3_loading_spinner.html */
	
	.spin {
		position: absolute;
		top: 6px;
		right: 12px;
		
		width: 8px;
		height: 8px;
		
		border-width: 2px;
		border-style: solid;
		border-color: #FFF #DDD #BBB #999;
		border-radius: 40px;
		
		-webkit-animation: spin 1s linear infinite; 
		-moz-animation: spin 1s linear infinite;
	}
	
	@-webkit-keyframes spin  
	{  
	    from { -webkit-transform: rotate(0deg); }  
    	50%  { -webkit-transform: rotate(180deg); }  
	    to   { -webkit-transform: rotate(360deg); }  
	}
	@-moz-keyframes spin  
	{  
	    from { -moz-transform: rotate(0deg); }  
    	50%  { -moz-transform: rotate(180deg); }  
	    to   { -moz-transform: rotate(360deg); }  
	}
	
	@-webkit-keyframes bounce  
	{  
		from { -webkit-transform: rotate(0deg); opacity: 0.4; }
		50%  { -webkit-transform: rotate(0deg); opacity: 1; }
		to   { -webkit-transform: rotate(0deg); opacity: 0.4; }

	}
	@-moz-keyframes bounce  
	{  
		from { -moz-transform: rotate(0deg); opacity: 0.6; }
		50%  { -moz-transform: rotate(0deg); opacity: 1; }
		to   { -moz-transform: rotate(0deg); opacity: 0.6; }
	}
	
	
	
	
	
	
	
	
	
	