<!--begin footer-->


  <div class="EXLFooterLinksContainer">
    <ul class="EXLFooterLinksList1">
      <li class="EXLFooterFirstLink"><a href="http://library.wwu.edu/">Library Home</a></li>
      <li><a href="http://www.wwu.edu/">Western Washington University Home</a></li>
      <li class="EXLFooterLastLink"><a href="http://askus.library.wwu.edu/">Ask Us!</a></li>
      <li >Powered by ExLibris Primo</li>
      <li>Copyright &copy; 2016</li>
      <!--<li class="EXLFooterLastLink"><a href="#">Accessibility Statement &amp; Disclaimer</a></li>-->
    </ul>
  </div>


  <script>
         loadjscssfile("//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js", "js");

  if (WWU_PRIMO.PRODUCTION === false) {
         loadjscssfile(WWU_PRIMO.file_host + "js/common.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/jquery.primo.min.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/mousetrap.min.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/show-hide-facets.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/jquery.shorten.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/css.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/ui.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/header.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/chat.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/scope-tabs.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/facets.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/uncommon.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/permalink.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/report-a-problem.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/analytics.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/jump-to-page.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/tooltips.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/more-options.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/did-you-mean.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/payfines.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/citation-trail.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/mousetrap.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/eshelf.js", "js");
         // loadjscssfile(WWU_PRIMO.file_host + "js/log-errors.js", "js");
         loadjscssfile(WWU_PRIMO.file_host + "js/keep-selected-facets.js", "js");
  } else {
         loadjscssfile(WWU_PRIMO.file_host + "js/app.js", "js");
  }
</script>

<!--end footer-->