<!--begin footer-->


  <div class="EXLFooterLinksContainer">
    <ul class="EXLFooterLinksList1">
      <li class="EXLFooterFirstLink"><a href="http://library.wwu.edu/">Library Home</a></li>
      <li><a href="http://www.wwu.edu/">Western Washington University Home</a></li>
      <li class="EXLFooterLastLink"><a href="http://askus.library.wwu.edu/">Ask Us!</a></li>
      <li >Powered by ExLibris Primo</li>
      <li>Copyright &copy; 2015</li>
      <!--<li class="EXLFooterLastLink"><a href="#">Accessibility Statement &amp; Disclaimer</a></li>-->
    </ul>
  </div>
    
<script>


        var mode = GetURLParameter("mode");
        if (mode == "") {
            var mode = $("#mode").val();
            // if the mode is not in the querystring, look for it as a form  variable
        }


    var fn = GetURLParameter('fn');
    if (mode == "Advanced") {
        var permalink_key = GetURLParameter("permalink_key");
        if (permalink_key) {
            // if this is an advanced search, submit the page after it loads because  it is not possible (yet) to store all of the query parameters in the querystring, so we have to re-submit to make it work exactly as it was originally;
            var resultsDiv = document.getElementById("resultsTileNoId");
            resultsDiv.innerHTML = "<i class='fa fa-cog fa-spin fa-2x'></i> Please wait...";
            document.getElementById("exlidFacetTile").innerHTML = "";

            window.stop();      // stop loading the page - we are about to re-submit the form;
            // append the facets to the form inputs so they will be included in the re-submission

            convertQuerystringToHiddenFields("searchForm");

            var theForm = document.getElementById("searchForm");
            theForm.submit();
    }
}

if (mode == "Advanced" ) {
    var lnk = document.createElement('link');
    lnk.type='text/css';
    lnk.href='//library.wwu.edu/info/primo/wwu_test2_advanced.css';
    lnk.rel='stylesheet';
    document.getElementsByTagName('body')[0].appendChild(lnk);            
}

if  ((mode == "BrowseSearch") || (fn == "BrowseRedirect")) {
    var lnk = document.createElement('link');
    lnk.type='text/css';
    lnk.href='//library.wwu.edu/info/primo/wwu_test2_browse.css';
    lnk.rel='stylesheet';
    document.getElementsByTagName('body')[0].appendChild(lnk);       

}

if  ((fn == "almaAzSearch") || (fn == "goAlmaAz")) {
    var lnk = document.createElement('link');
    lnk.type='text/css';
    lnk.href='//library.wwu.edu/info/primo/wwu_test2_az.css';
    lnk.rel='stylesheet';
    document.getElementsByTagName('body')[0].appendChild(lnk);            
}

function convertQuerystringToHiddenFields (formId) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++)  {
        var sParameterName = sURLVariables[i].split('=');
        if ((typeof sParameterName[0] == "string") && (sParameterName[0]  != "permalink_key")) {        // do not add the permalink_key to prevent a loop
                var thisFieldName = decodeURIComponent(sParameterName[0]);
                var thisFieldValue = decodeURIComponent(sParameterName[1]);

                var vlTest = /(vl\()/;
                var vlField = vlTest.test(thisFieldName);
                if (!vlField) {
                    var theForm = document.getElementById(formId);
                    var thisField  = document.createElement("input");
                    thisField.setAttribute("type","hidden");
                    thisField.setAttribute("name", thisFieldName);
                    thisField.setAttribute("value", thisFieldValue);
                    theForm.appendChild(thisField);        
                }
        }
    }
}


    function recreateExLiPermalink(exli_permaLink) {
        // Primo 4.6 introduced item-level permalinks, so let's use those instead of the homegrown permalinks
        // var exli_permaLink = $(".EXLButtonSendToPermalink").find("a").attr("href");
        // this should return something like
            //    "permalink.do?docId=TN_springer_jour10.2165/00003495-200161130-00006&vid=WWU&fn=permalink"

        var docId = GetParameter(exli_permaLink,"docId");      // extract the docId value from that string
        var vid = GetParameter(exli_permaLink,"vid");           // extract the vid value from the exli_permalink string
        var worldcat = GetParameter(exli_permaLink,"worldcat");           // extract the vid value from the exli_permalink string
        var wc = GetURLParameter("wc");     // on display.do pages, ExLibris indicates whether it is a Worldcat record with this querystring variable

        if ((worldcat == "true") || (wc == "true")) {
            docId = docId.replace("TN_","WC_");
            // http://onesearch.library.wwu.edu/WWU_TEST2:WC_WorldCat9583168
        }

        var exli_permaLink_final = vid + ":" + docId;     // put the pieces together
        return exli_permaLink_final;
    }

    function ts(cb) {
        // http://jsfiddle.net/chriscoyier/mGg85/2/
        if (cb.readOnly) cb.checked=cb.readOnly=false;
        else if (!cb.checked) cb.readOnly=cb.indeterminate=true;
    }
    
    // http://stackoverflow.com/questions/5075395/alternative-to-jquery-inarray
    Array.prototype.ourIndexOf = function(v) {
        for ( var i = 0, length = this.length; i < length; i++ ) {
           if ( typeof this[i] === 'string' && this[i].indexOf(v) > -1 ) {
                return i;
           }
        }
        return -1;
    };

    function GetURLParameter(sParam) {
        // thanks to http://stackoverflow.com/questions/11582512/how-to-get-url-parameters-with-javascript/11582513#11582513
        return decodeURIComponent((new RegExp('[?|&]' + sParam + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||''
    }

    function GetParameter(string, sParam) {
        // thanks to http://stackoverflow.com/questions/11582512/how-to-get-url-parameters-with-javascript/11582513#11582513
        return decodeURIComponent((new RegExp('[?|&]' + sParam + '=' + '([^&;]+?)(&|#|;|$)').exec(string)||[,""])[1].replace(/\+/g, '%20'))||''
    }

    function getValue(fieldName) {
      var value = GetURLParameter(fieldName);
      if (value == "") {
        // try a hidden field with that id
        var theId = "#" + fieldName;
        value = $(theId).val();
      }
      return value;
    }



    var get_params = function(search_string) {
      var parse = function(params, pairs) {
        var pair = pairs[0];
        var parts = pair.split('=');
        var key = decodeURIComponent(parts[0]);
        var value = decodeURIComponent(parts.slice(1).join('='));

        // Handle multiple parameters of the same name
        if (typeof params[key] === "undefined") {
          params[key] = value;
        } else {
           params[key] = [].concat(params[key], value);
        }

        return pairs.length == 1 ? params : parse(params, pairs.slice(1))
      }

      // Get rid of leading ?
      return search_string.length == 0 ? {} : parse({}, search_string.substr(1).split('&'));
    }

    var params = get_params(location.search);


    function getValues(fieldName) {
        //var isPresent = location.search.indexOf("&" + fieldName + "=");
        var lookingFor = new RegExp("[\?|&]" + fieldName + "=","i");
        var isPresent = location.search.search(lookingFor);
        if (isPresent != -1) {
            var thisValue = params[fieldName];
            var returnValue = "";
            if (typeof thisValue != "string") {
                $.each(thisValue, function(index, value) {
                    returnValue += "&" + fieldName + "=" + value;
                    // console.log("returnValue = " + returnValue);
                });                
            } else {
                returnValue += "&" + fieldName + "=" + thisValue;
            }
            return returnValue;
        } else {
            return "";
        }
    }


    function buildDlSearchParameters() {
        // David Bass @ WWU
        // 30 Oct 2014
        // translate the current search.do parameters into dlSearch.do parameters
        // https://developers.exlibrisgroup.com/primo/apis/deeplinks/brief

        var institution = "01ALLIANCE_WWU";
        /*
        var boom = $("#getit1request_0").val();
        var institution = GetParameter(boom, "rft_dat");
        var institution_parts = institution.split(":");
        institution = institution_parts[0];
        */

        var vid = GetURLParameter("vid");
        if (vid == "") {
            var vid = $('#vid').val();
            // TODO: notify admin of error
        }

        var mode = GetURLParameter("mode");
        if (mode == "") {
            var mode = $("#mode").val();
            // TODO: notify admin of error
            //return false;
        }

        var srt = getValues("srt");

        var search_scope = GetURLParameter('scp.scps');
        var dlScope = "";
        var dlQuery2 = "";
        var dlQuery1 = "";
        
        if (search_scope) {
            if (search_scope === "scope:(WWU)") {
                dlScope = "Books";
            } else if (search_scope === "scope%3A(NZ)%2Cscope%3A(WWU)%2Cprimo_central_multiple_fe") {
                dlScope = "All";
            } else if ((search_scope === "scope%3A%28WWU%29") || (search_scope === "scope%3A(WWU)") || (search_scope === "Books")) {
                dlScope = "Books";
            } else if ((search_scope === "scope%3A%28NZ%29%2Cscope%3A%28WWU%29") || (search_scope === "wwu_summit") || (search_scope === "wwusummit")) {
                dlScope = "wwu_summit";
            } else if ((search_scope === "WorldCatLocal_WWU") || (search_scope == "WorldCat")) {
                dlScope = "WorldCat";
            } else if (search_scope === "scope:(WWU_STC)") {
                dlScope = "wwu_stc";
            } else if (search_scope === "scope:(WWU_WILSON)") {
                dlScope = "wwu_wilson";
            } else if (search_scope === "scope:(WWU_EXTENDED)") {
                dlScope = "wwu_extended";
            } else if (search_scope === "scope:(WWU_ARCHIVES)") {
                dlScope = "wwu_archives_cpnws";
            } else if (search_scope === "scope:(WWU_SPECCOLL)") {
                dlScope = "wwu_special_collections";
            } else if (search_scope === "scope:(WWU_MAPCOLL)") {
                dlScope = "wwu_mapcoll";
            } else if (search_scope === "scope:(WWU_MUSIC)") {
                dlScope = "wwu_music";
            } else if (search_scope === "scope:(WWU_NONLIBRARY)") {
                dlScope = "wwu_nonlibrary";
            } else {
                dlScope = "All";     // Everything;
            }

        } else {
            var search_scope = $.trim($("#exlidSearchTabs li.selected span").attr("id"));
                search_scope = search_scope.replace("defaultScope","");

            if (search_scope === "atwwu") {
                dlScope = "Books";
            }

            if (search_scope === "everything") {
                dlScope = "All";
            }

            if (search_scope === "wwusummit") {
                dlScope = "wwu_summit";
            }

            if (search_scope === "worldcat") {
                dlScope = "WorldCat";
            }

        }

        var submit = GetURLParameter('Submit');
        var tab = GetURLParameter('tab');
        var institution = '01ALLIANCE_WWU';

        // facets
        var ct = getValues('ct');
        var fctN = getValues('fctN');
        var fctV = getValues('fctV');
        var rfnGrp = getValues('rfnGrp');
        var rfnGrpCounter = getValues('rfnGrpCounter');
        var mulIncFctN = getValues('mulIncFctN');
        var fctIncV = getValues('fctIncV');
        var rfnIncGrp = getValues('rfnIncGrp');

        var mulExcFctN = getValues('mulExcFctN');
        var fctExcV = getValues('fctExcV');
        var rfnExcGrp = getValues('rfnExcGrp');

        var rfnGrpCounter = getValues('rfnGrpCounter');
        var rfnId = getValues('rfnId'); 


        var facets = rfnId + ct + fctN + fctV + rfnGrp + mulIncFctN + fctIncV + mulExcFctN + rfnGrpCounter + rfnIncGrp + fctExcV + rfnExcGrp;
 
        var query = "";
        var dlQuery0 = "";
        var dlQuery1 = "";
        var dlQuery2 = "";
        var advSearchParameters = "";

        if (mode === "Advanced") { 
            // advanced fields
        
            function getAdvQuery(i) {
                var position = i;
                var position_id = i + 1;
                var scope_id = "#exlidInput_scope_" + position_id;
                var scope_name = $(scope_id).attr("name");
                var scopeValue = $(scope_id + " option:selected").val();        
                var scope = "&" + scope_name + "=" + scopeValue;        
                var precisionOperator_id = "#exlidInput_precisionOperator_" + position_id;
                var precisionOperator_name = $(precisionOperator_id).attr("name");
                var precisionOperator_value = $(precisionOperator_id + " option:selected").val();
                var precisionOperator = "&" + precisionOperator_name + "=" + precisionOperator_value;
                var query_id = "#input_freeText" + position;
                var query = $.trim($(query_id).val());
                var query_nocomma = query.replace(",", "+"); 
                if (query_nocomma) {
                    var value  = scope + precisionOperator + "&vl(freeText" + position + ")=" + query_nocomma;
                        value += "&query=" + scopeValue + "," + precisionOperator_value + "," + query_nocomma;
                    return value;                    
                } else {
                    return "";
                }
            }

            // 1st query
            var dlQuery0 = getAdvQuery(0);

            // 2nd query
            var dlQuery1 = getAdvQuery(1);

            //  3rd query
            var dlQuery2= getAdvQuery(2);


            //var operator = GetURLParameter("&vl%28boolOperator2%29");
            var pubDateName = $("#exlidInput_publicationDate_").attr("name");
            var pubDate = "&" + pubDateName + "=" + $("#exlidInput_publicationDate_ option:selected").val();        // publication date

            var mediaTypeName = $("#exlidInput_mediaType_").attr("name");
            var mediaType = "&" + mediaTypeName + "=" + $("#exlidInput_mediaType_ option:selected").val();              //  media Type

            var languageName = $("#exlidInput_language_").attr("name");
            var language = "&" + languageName + "=" + $("#exlidInput_language_ option:selected").val();               // language

            var startDayName = $("#exlidInput_drStartDay_").attr("name");
            var startDayValue = $("#exlidInput_drStartDay_ option:selected").val();
            var startDay = "&" + startDayName + "=" + startDayValue;             // start day

            var startMonthName = $("#exlidInput_drStartMonth_").attr("name");
            var startMonthValue = $("#exlidInput_drStartMonth_ option:selected").val();
            var startMonth = "&" + startMonthName + "=" + startMonthValue;           // start month

            var startYearName = $("#exlidInput_drStartMonth_ ~ input").attr("name");
            var startYearId = "#" + $("#exlidInput_drStartMonth_ ~ input").attr("id");
            var startYearValue = $(startYearId).val(); 
            var startYear = "&" + startYearName + "=" + startYearValue;            // start year
      
            var endDayName = $("#exlidInput_drEndDay_").attr("name");
            var endDayValue = $("#exlidInput_drEndDay_ option:selected").val();
            var endDay = "&" + endDayName + "=" + endDayValue;             // end day

            var endMonthName = $("#exlidInput_drEndMonth_").attr("name");
            var endMonthValue = $("#exlidInput_drEndMonth_ option:selected").val();
            var endMonth = "&" + endMonthName + "=" + endMonthValue;           // end month

            var endYearName = $("#exlidInput_drEndMonth_ ~ input").attr("name");
            var endYearId = "#" + $("#exlidInput_drEndMonth_ ~ input").attr("id");
            var endYearValue = $(endYearId).val();
            var endYear = "&" + endYearName + "=" + endYearValue;             // end year

            advSearchParameters =  pubDate + mediaType + language + startDay + startMonth + startYear + endDay + endMonth + endYear ;
        } else {
            // basic search;
            query = $("#search_field").val();
            query_nocomma = query.replace(",", "+"); 
            dlQuery0 = "&query=any,contains," + query_nocomma;
        }

        // fn=search&ct=search&initialSearch=true
    
       var dlPath =  'vid=' + vid + '&mode=' + mode + '&search_scope=' + dlScope + '&tab=' + tab + '&institution=' + institution +  dlQuery0 + dlQuery1 + dlQuery2 + facets + advSearchParameters + srt;

        // console.log(dlPath);

        return dlPath;
    }

    $(document).ready(function() {
        $('head').append('<meta name="viewport" content="width=device-width, initial-scale=1.0">');     // this makes it possible to resize in iOS

        $(".EXLReviewsTab a").text("Save/Share");

        if ($("body").hasClass("EXLFullView")) {
            // add a "Report a problem" link to the Actions menu on the display.do page
            injectReportAProblemLink();
        };

       $(document).on("click", ".EXLTabHeaderButtonSendTo > a ", function() { 
            // add a "Report a problem" link to the Actions menu when the "Actions" link is clicked on from the search/brief results page
            var thisId = $(this).attr('id');
            var thisIdClean = thisId.replace(/[^\w\s]/gi, '');           // remove special characters
            $(this).parent("li").attr("id", thisIdClean);
            injectReportAProblemLink(thisIdClean);
        });

       function injectReportAProblemLink (thisIdClean) {        
            if (typeof thisIdClean === "undefined") {
                // we are on the display.do page; find the only Actions menu;
                var thisId = $("li.EXLTabHeaderButtonSendTo a").attr("id");
                if (thisId) {
                    var thisIdClean = thisId.replace(/[^\w\s]/gi, '');           // remove special characters
                }
            }


            // this was called from the brief/search results page
            var $child_list = $("#" + thisIdClean).parent().find("ol.EXLTabHeaderButtonSendToList, ol.EXLTabHeaderButtonSendTo");
            var child_list_a = $child_list.find(".EXLButtonSendToPermalink a, .EXLButtonSendToOpenUrl a").attr('href');

            // find the href attribute for the exli permalink
            var exli_permalink_generated = recreateExLiPermalink(child_list_a);
            
            // send that value to the recreate function and store it as this variable
            var report_a_problem_url = "http://library.wwu.edu/content/4769?permalink_path=" + exli_permalink_generated;

            // append the generated permalink to our target url, but only if it does not already have one
            var reportaproblem_id = "report-a-problem-" + thisIdClean;
            if($("#" + reportaproblem_id).length == 0) {
                // only create this if it does not already exist
                $child_list.append("<li id='" + reportaproblem_id + "'><a target='_blank' href='" + report_a_problem_url + "'> Report a Problem <span class='rap-bug fa fa-bug'></span></a> </li>");
            }

       }



        /*
        $("#right").hover(
          function() {
            $("#contentEXL").addClass("blur");
          }, function() {
            $("#contentEXL").removeClass("blur");
          }
        );
        $("#right").blur(
          function() {
            $("#contentEXL").removeClass("blur");
          }
        );
        */


        // blur everything else when a tab is hovered over
        /*
        $(".EXLSearchTab").hover(
          function() {
            $("#resultsTileNoId, #exlidFacetTile, #help, #search_field").addClass("blur");
          }, function() {
            $("#resultsTileNoId, #exlidFacetTile, #help, #search_field").removeClass("blur");
          }
        );
        $(".EXLSearchTab").blur(
          function() {
            $("#resultsTileNoId, #exlidFacetTile, #help, #search_field").removeClass("blur");
          }
        );
        */


        $(".EXLAvailabilityCallNumber").hide();     // we will show these after we remove the parens on window load

        var UserTile = $("#exlidUserAreaTile").html();      // copy the contents of this into memory

        /*
        var vid = GetURLParameter("vid");
        var mode = GetURLParameter("mode");
        */

        var vid = getValue("vid");
        var mode = getValue("mode");
        var fn = getValue("fn");

        var search_query = $("#search_field").val();
        var query = GetURLParameter("query");
        var permalink_key = GetURLParameter("permalink_key");

      if (mode == "Basic") {
            var searchPage = document.location.href.toLowerCase().indexOf("search.do");
            if (searchPage != -1) {
                $("#exlidFacetTile").addClass("basic");
                $("#resultsTileNoId").addClass("basic");
            }    

            // magnifying glass 
            $("div.EXLSearchFieldRibbonFormSubmitSearch").html("<button id='goButton' type='submit'  title='basic search' value='' class='button box-shadow-outset'>  </button>");
    
            $(".EXLSearchFieldRibbon").append(" <div id='advsearch'><a id='advsearch_href_simple'>Advanced Search</a></div>");

            $("#advsearch_href_simple").on("click", function() { 
                // append the query to the adv_search button
                var originalAdvSearchUrl = $("#btn_adv_search").attr('href');
                var newestQuery = $("#search_field").val();
                var newAdvSearchUrl = originalAdvSearchUrl.replace(/(vl\(freeText0\)=).*?(&)/,'$1' + newestQuery + '$2');
                window.location = newAdvSearchUrl;
            })
        } 

        if (mode == "Advanced") {
            $("#exlidAdvancedSearchRibbon #goButton").val("Search").attr("title","advanced search"); 
            $("#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks a").html("<img alt='magnifying glass icon' src='//library.wwu.edu/images/onesearch-magnifying-glass.png'> Basic Search");
            $("#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks a").attr("title","Basic Search");
            $("#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch input").attr("value","").attr("title","clear search");
            // $("#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch").append("clear");

            var query0 = $.trim($("#input_freeText0").val());
            if (query0 == "") {
                // show the infographic  if there is no query

                $("#exlidFacetTile").hide();
                $("div#exlidHeaderSystemFeedback").prepend("<img id='scopesOverview'  alt='overview of search scopes' src='//library.wwu.edu/images/onesearch-scopes-sept-2016.png'>");
            }
        }


        if  ((mode == "BrowseSearch") || (fn == "BrowseRedirect")) {
               $("#goButton").val("");      // remove the text from the button
               $(".EXLSearchFieldRibbonFormLinks  a").text("Basic Search");
        }

        if  ((fn == "almaAzSearch") || (fn == "goAlmaAz")) {
               $("#goButton").val("");      // remove the text from the button
        }

        var selected_tab = $("#tab").val();

        if (selected_tab == "atwwu") {
            $(".EXLSearchFieldRibbonFormSearchClear").addClass("wwu");      // move the clear search button to the left
        } else {
            $(".EXLSearchFieldRibbonFormSearchClear").removeClass("wwu");    // remove the special class
        }

       $(".EXLClearSimpleSearchBoxButtonClose").css("background-image","none !important");


        $("#newMenu").prependTo("body");        // move the newMenu to the top of the body

        var loginLogoutLink = "";
        var loginLogoutTitle = "";
        var targetURL = encodeURIComponent(document.location.href);

        var userName = $.trim($('.EXLUserNameDisplay').text());        // copy the user's name into memory;
        if (userName !== "Guest") {
            var hasComma = userName.toLowerCase().indexOf(",");      // a Guest will not have a comma
            if (hasComma != -1) {
                userName = userName.split(',');     // split the name at the comma
                userName = userName[1];             // use what follows that
                userName = userName.split(' ');     // split the name at the first space
                userName = userName[1];             // use what follows
            }

            userName = "Hello " + userName + " :)";
            loginLogoutLink = "/primo_library/libweb/action/logout.do?loginFn=signout&vid=" + vid + "&targetURL=" + targetURL;
            loginLogoutTitle = "Logout";
            $("#myAccountMenuHeading").html(userName);

        } else {
            userName = "";
            //            loginLogoutLink = "/primo_library/libweb/action/login.do?loginFn=signin&amp;vid=" + vid + "&amp;targetURL=http%3a%2f%2fonesearch.library.wwu.edu%2fprimo_library%2flibweb%2faction%2fsearch.do%3fdscnt%3d0%26%26amp%3binitializeIndex%3dtrue";

            loginLogoutLink = "/primo_library/libweb/action/login.do?loginFn=signin&amp;vid=" + vid + "&amp;targetURL=" + targetURL;


            loginLogoutTitle = "Sign-in";
            $("#myAccountMenuHeading").html("<a id='loginLinkMenu' href='" + loginLogoutLink + "'>Sign-in</a>");
        }

        $("#loginLink").attr("href", loginLogoutLink);
        $("#loginLink").attr("title", loginLogoutTitle);
        $("#loginLink-tooltip").text(loginLogoutTitle);

        $("span#username").html(userName);

        if (permalink_key) {
            // show the permalink that created this page
            var permaLinkPretty = "<div title='permaLink - share this URL with others' id='permalinkPretty' class='permalinkPretty-displayPage'><span class='disable-select'> </span><span class='perma-link'>http://library.wwu.edu/goto/?" + permalink_key + "</span> <span class='display-block'> </span></div>";
        } else {        
            var permaLinkPretty = "<div title='permaLink - share this URL with others' id='permalinkPretty' class='permalinkPretty-displayPage'><span class='permalink-button'><a id='generate-permalink'><span class='fa  fa-link'></span> generate permalink for search results</a></span> <span class='disable-select'>  </span><span class='perma-link'></span> <span class='display-block'> </span></div>";
        }

        $("#resultsHeaderNoId").prepend(permaLinkPretty);   // add the permaLink container to the top of the results container

        // prep the tabs 
        $("div.EXLSearchTabsContainer").addClass("tab-row");
        $("ul#exlidSearchTabs").addClass("tabrow");
        $("li.EXLSearchTab").addClass("tab");
        $("li.EXLSearchTabSelected").addClass("selected");

        // My Account / e-Shelf
        $("div.EXLMyAccountTabsRibbon").addClass("tab-row");
        $("ul.EXLMyAccountTabs").addClass("tabrow");
        $("li.EXLMyAccountTab").addClass("tab");
        $("li.EXLMyAccountSelectedTab").addClass("selected");


//        $(".EXLResultTabs").addClass("tinyTabs").removeClass("EXLResultTabs").children("li").removeClass();      // remove all of ExLibris's class names

     //   $(".EXLResultTabs").removeClass("EXLResultTabs").children("li").removeClass().children("a").addClass("tab-button");      // remove all of ExLibris's class names

        $(".EXLResultTabs").children("li").children("a").addClass("tab-button");      // remove all of ExLibris's class names

        $("li[id*='-ReviewsTab']").hide();
        $("li[id*='-LocationsTab']").hide();
        $("li[id*='-RecommendTab']").hide();

        // $(".EXLTabsRibbon div li").addClass("tab").addClass("tooltip");
        $(".EXLTabsRibbon div li.EXLResultSelectedTab").addClass("selected");


        var displayPage = document.location.href.toLowerCase().indexOf("display.do");
        if (displayPage != -1) {
            // select the Details tab on the display.do page
            $("li[id*='DetailsTab']").addClass("selected");

            if (mode == "Advanced") {
            //    $("#exlidHeaderTile").addClass("displayAdvanced");
            }     

            $("#Description-1").addClass("shorten");

            // clone the 'back to results' link and add it to the top of the page
            $(".EXLBackToResults").clone().addClass("top").appendTo( "#exlidSearchRibbon" );


        }

        $(".tinyTabs li").click(function(e) {
          // e.preventDefault();
          $(this).siblings().removeClass("selected");
          $(this).addClass("selected");
        });


        $("#search_field").attr("placeholder","\"Use quotation marks for exact match.\"");

        // $("#help").append("<div id='tooltips'><img id='newsearch' src='//library.wwu.edu/images/tooltips/new-search.png'></div>");

        $("a.submenuitem.exlibris").each(function(index) {
            // append the vid to the url
            vid = GetURLParameter("vid");
            if (vid == "undefined") {
                var vid = $('#vid').val();
            }
            var thisHref = $(this).attr("href");
            var newHref = thisHref + "&vid=" + vid;
            $(this).attr("href", newHref);
        });

        $(document).on("click", ".email-export", function() { 
            /* find the closest actions button and click it */
            var thisId = $(this).attr("id");
            console.log(thisId);
            var str = "$('#" + thisId + "').parents('.EXLResult').find('.EXLTabHeaderButtonSendToList a').click();";
            console.log(str)
            $(thisId).parents('.EXLResult').find(".EXLTabHeaderButtonSendTo a").click();
        });


        /*
        $.getJSON("https://www.googleapis.com/analytics/v3/data/realtime?ids=ga%3A3067340&metrics=rt%3Aevents&filters=ga%3AeventLabel%3D%3Dsearch_query&key=AIzaSyDhyfodfw3tOQcJsxEw5OuLVaUpyW135R0&callback=?", function(data) {
            console.log(data);
        });
        */


        $.ajax({
            url : '//' + libchat_btn.domain + '/chat_client_status.php',
            dataType : "jsonp",
            data: { d: libchat_btn.depart_id, iid: libchat_btn.iid },
            success : function(data) {
                // data.status = false;
               // data.status = true;

                if (data.status) {
                    // chat
                    var chatUrl = "http://libanswers.com/chati.php?k=c08f3a912c49c73&w=1&d=146&i=92&r=http%3A%2F%2Fonesearch.library.wwu.edu%2Fprimo_library%2Flibweb%2Faction%2Fsearch.do%3Fvid%3DWWU&t=Welcome%20to%20Western%20Libraries%20Chat!&iq=Please%20enter%20question%20below%3A";
                    $("#libchat_btn_widget").attr("href", chatUrl);
                    $("#libchat_btn_widget").attr("target", "libchat");

                    var chatModalWindow = '<!-- popup for Chat with a Librarian--> ' +
                        '<div id="chatModal" >' +
                         ' <div class="chat0">' +
                         '   <div class="chat1">' +
                          '    <div class="chat2">' +
                          '      <button type="button" id="close-chat" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
                           '     <h4 id="chat-with-a-librarian-h4">Questions? Chat with Us</h4>' +
                           '   </div>' +
                           '   <div class="chat-body">' +
                           '     <iframe id="chat-iframe" src="' + chatUrl + '"></iframe>' +
                            '      <div id="chat-note"> Please note: changing to a new page will end your chat  </div>    ' +
                           '   </div>' +
                           ' </div>' +
                          '</div>' +
                        '</div>';

                    $("body").prepend(chatModalWindow);

                    var chatHtml = '<div id="chatDiv">  <a id="libchat_btn_widget2" ><div id="chatDivLinkContainer">  <div id="chatDivText">Questions?<br> Chat with Us.</div> <span  id="chat-with-a-librarian-icon" class="fa  fa-comments"></span></div>';

                    $("#exlidSearchBanner").html(chatHtml);
                    $("#exlidSearchBanner").show();

                    $(document).on("click","#chatDiv", function() {
                        $("#chatModal").show();
                    });

                    $(document).on("click","#close-chat", function() {
                        $("#chatModal").hide();
                    });

                    // advanced search
                    $(".EXLSearchFieldRibbon.EXLSearchFieldRibbonPreFilters").append(chatHtml);

                } else {
                    // email - in menu
                    $("#libchat_btn_widget").attr("href", "http://libguides.wwu.edu/content.php?pid=60282&sid=443326");
                    $("#libchat_btn_widget").attr("title", "email a librarian");
                    $("#libchat_btn_widget").html("<span class='fa fa-envelope-o'></span> email a librarian");

                    var chatHtml = '<div id="chatDiv">  <div id="chatDivLinkContainer">  <div id="chatDivText"><a href="http://libguides.wwu.edu/content.php?pid=60282&sid=443326" target="_email">Questions?<br> Send us an Email.</div> <span  id="chat-with-a-librarian-icon" class="fa  fa-envelope"></span></a></div>';

                    $("#exlidSearchBanner").html(chatHtml);
                    $("#exlidSearchBanner").show();


                }
            }
        }); 

        function showTooltip (id) {
            var theId = "#" + id;
            $(theId).fadeIn(0).fadeOut(1500);       // show each tooltip if the search_query is empty
        }

        function resetTooltip (id) {
            var theId = "#" + id;
            $(theId).attr("style", "");       // show each tooltip if the search_query is empty
        }

        var timeouts = [];        // create an array to store each setTimeOut, so that we can cancel them later if we detect mouse/keyboard movement

        function showTooltips () {
            // on a new search, loop through the tooltips to show what the icons do
            $('.tooltip, .tooltip-right').each(function(i) {
                var id = $(this).attr("id");
                var delay = 1500 * i;
                timeouts[i] = setTimeout(showTooltip, delay, id);
                var delay2 = 1600 + delay;  // give the tooltip time to run before removing the style that prevents it from being shown again
                setTimeout(resetTooltip, delay2, id);   // this removes the jQuery style="display:none" which prevents the tooltip from working
                    // TODO: can we use a promise instead of this delay2?
            });
        }

        /* if we detect any mouse or keyboard movement, stop the automated tooltips */
        var pause = false;
        $(document).on('mousemove keypress', function(){
            for (var i = 0; i < timeouts.length; i++) {
                clearTimeout(timeouts[i]);
            }
        });

        /* show the mini-header if the user scrolls down 18 pixels */
        /*
        $(document).on("scroll", function() {
            var top = $(window).scrollTop();
            if (top > 18) {
                $("#newMenu").addClass("small");   
                $("#newHorizonalMenu").addClass("small");   
                $("#help a").addClass("small");       
                $("#kba_nav").addClass("small");
                $("#logo").addClass("small");                
                $("#happy-sad").addClass("small");                
                $("#happy").addClass("small");                
                $("#sad").addClass("small");                
            } else {
                $("#newMenu").removeClass("small");                
                $("#newHorizonalMenu").removeClass("small");   
                $("#help a").removeClass("small");                
                $("#kba_nav").removeClass("small");
                $("#logo").removeClass("small");                
                $("#happy-sad").removeClass("small");                
                $("#happy").removeClass("small");                
                $("#sad").removeClass("small");                
            }
        });
        */

        function populateTabs() {
            var searchPage = document.location.href.toLowerCase().indexOf("search.do");
            if (searchPage != -1) {

                var vid = GetURLParameter("vid");
                // var mode = GetURLParameter("mode");
                var mode = getValue("mode");

                current_count = $.trim($("#resultsNumbersTile h1 em:first").text());        // global variable
                var api_query = "";
                var search_query = "";

                if (mode == "Advanced") {

                    var current_scope = $.trim($("#exlidSearchTabs li.selected span").attr("id"));
                        current_scope = current_scope.replace("defaultScope","");

                    $("[id^=input_freeText]").each(function(index) {
                        var thisCounter = index + 1;
                        var thisValue = $(this).val();
                        if (thisValue !== "") {
                            search_query = $(this).val();
                            var thisScopeId = "#exlidInput_scope_" + thisCounter;
                            var thisScope = $(thisScopeId + " option:selected").val();
                            var thisOperatorId = "#exlidInput_precisionOperator_" + thisCounter;
                            var thisOperator = $(thisOperatorId + " option:selected").val();
                            api_query += "&q[]=" + thisScope + "," + thisOperator + "," + escape(search_query);
                        }
                    });
                } else {
                    var current_scope = $.trim($(".EXLSelectedScopeId").val());
                    search_query = $("#search_field").val();
                    api_query = "&q=any,contains," + escape(search_query);
                }


                if (search_query == "") {
                    // if the search is empty, wait a few seconds, and then show the tooltips
                    setTimeout(showTooltips, 4000);

                    if (mode == "Basic") {
                        $("#exlidHomeContainer").html("<img id='scopesOverview' alt='search scopes overview' src='//library.wwu.edu/images/onesearch-scopes-sept-2016.png'>");
                    }

                    // show the big/smile logo
                    $("#exlidHomeContainer").prepend("<img alt='magnifying glass icon (with sunglasses)' src=//library.wwu.edu/images/onesearch-magnifying-glass-with-glasses.jpg> Welcome to OneSearch v2 (beta).");

                    $(".permalinkPretty-displayPage").hide();

                    var worldcat_url = "http://www.worldcat.org";
                    $("#Worldcat-Menu-Link").attr("href", worldcat_url);

                } else {

                    showPermaLinkButton();
                    showDidYouMeanOptions(search_query);

                    // append the query to the adv_search button
                    $('#btn_adv_search').attr('href', function() {
                        return this.href + '&vid=' + vid + '&vl(freeText0)=' + search_query + "&";
                    });

                    var query = search_query;
                    var worldcat_url = "http://www.worldcat.org/search?qt=worldcat_org_all&q=" + search_query;
                    $("#Worldcat-Menu-Link").attr("href", worldcat_url);


                    $("#exlidTab0 a").append(" <span class='spin-container'> &nbsp; &nbsp; <span class='spin'> &nbsp; </span> </span>");
                    $("#exlidTab1 a").append(" <span class='spin-container'> &nbsp; &nbsp; <span class='spin'> &nbsp; </span> </span>");
                    $("#exlidTab2 a").append(" <span class='spin-container'> &nbsp; &nbsp; <span class='spin'> &nbsp; </span> </span>");
                    $("#exlidTab3 a").append(" <span class='spin-container'> &nbsp; &nbsp; <span class='spin'> &nbsp; </span> </span>");

                    function getCount(tabId, ajax_query, scope) {
                        ajax_query = ajax_query.replace(/%2C/g, '+');       // replace comma with plus
                        var count_url = "http://library.wwu.edu/info/primo/scope-count.php?s=" + scope + ajax_query + "&callback=?";
                        // console.log(count_url);
                        var thisId = "#" + tabId;

                        $.getJSON(count_url, function(data) {
                            $(thisId + " span.spin-container .spin").fadeOut("fast");
                            $(thisId + " span.spin-container").addClass("fadein").text("(" + data.count + ")");
                        }).done(function( json ) {
                            // console.log(json); 
                        }).fail(function( jqxhr, textStatus, error ) {
                            var err = textStatus + ", " + error;
                            console.log( "Request Failed: " + err );
                        });
                    }

                    var selected_tab = $("#tab").val();

                    // WWU
                    if (selected_tab == "atwwu") {
                        $("#exlidTab0 span.spin-container").addClass("fadein").text("(" + current_count + ")");
                    } else {
                        getCount("exlidTab0", api_query, "Books");
                    }

                    // WWU + Summit
                    if (selected_tab == "wwusummit") {
                        $("#exlidTab1 span.spin-container").addClass("fadein").text("(" + current_count + ")");
                    } else {
                        getCount("exlidTab1", api_query, "wwu_summit");
                    }

                    // + Summit + Articles
                    if (selected_tab == "everything") {
                        $("#exlidTab2 span.spin-container").addClass("fadein").text("(" + current_count + ")");
                    } else {
                        getCount("exlidTab2", api_query, "All");
                    }

                    // WorldCat
                    if (selected_tab == "worldcat") {
                        $("#exlidTab3 span.spin-container").addClass("fadein").text("(" + current_count + ")");
                    } else {
                        getCount("exlidTab3", api_query, "WorldCat");
                    }
                }
            }
        }

        var populateTabs = populateTabs();

        function showPermaLinkButton() {
            $("#generate-permalink").on("click", function() {
                $("#generate-permalink").html('<div class="three-quarters"> </div>');    

                var advPermaLink = buildDlSearchParameters();
                // console.log(advPermaLink);

                savePermaLink(advPermaLink);
                // TODO: copy the permalink to the user's clipboard
            });
        }

        function showDidYouMeanOptions(search_query) {
            if (search_query) {
                // "were you looking for ___?"; thanks to http://smartsearch.uiowa.edu for the idea.  :)
                var search_query_lowercase = search_query.toLowerCase();
                var looking_for = "";

                var json_url = "http://library.wwu.edu/info/primo/were-you-looking-for.json?callback=?";
                // http://stackoverflow.com/questions/6849802/jquery-getjson-works-locally-but-not-cross-domain
                // http://shancarter.github.io/mr-data-converter/
               
                var getLookingForJson = $.ajax({
                    'url': json_url
                    ,'dataType': "jsonp"
                    , cache : true
                    , jsonpCallback: 'findMatch' // specify the callback name if you're hard-coding it
                    , success: function(data){
                        $.each(data, function(key, value){
                            var service_lowercase = value.service.toLowerCase();
                            var foundIt = service_lowercase.indexOf(search_query_lowercase);
                            if (foundIt !=-1) {
                                var looking_for = '<div id="lookingFor">Were you looking for <a target="_" href="' + value.URL + '">' + value.service + '</a>? </div>';
                                $("#resultsTileNoId").prepend(looking_for);
                            }
                        });                            

                    }
                });
            }


            /* ------------------- begin "Didn't find what you were looking for?" --------------------------------- */
            /* 25 Aug 2014 - David Bass - add a "Didn't find what you were looking for?" link at the bottom of the search results */
            // TODO: store visited URLs in localStorage, and when this button is clicked, ask the user if we can send the details of their session to the librarian? (similar to a crash report)

            var now = new Date().getTime();
            var now_plus = now + "a";

            var illiad_url = "https://www.illiad.library.wwu.edu/illiad.dll?Action=10&Form=10";
            $("#illiad_link").attr("href", illiad_url);
            $("#illiad_link").attr("target", now);

            var query = search_query;
            var worldcat_url = "http://www.worldcat.org/search?qt=worldcat_org_all&q=" + query;
            $("#repeat-in-worldcat-link").attr("href", worldcat_url);

            var didnt_find_link = ' <div id="didnt_find_div"> <button id="didnt_find_link" type="button" class="btn btn-link" data-toggle="modal" data-target="#didntFindModal">Additional Search + Request Options</button> </div> ';
            $("#resultsTileNoId").append(didnt_find_link);

            if ($("#pcAvailabiltyMode").length == 0) {
                // hide the extra-time option
                $("#include-results-extra-time").hide();
            } else {
                // hide "Expand My Results"
                $(document).on("change",  "#extra-time", function() {
                    var isChecked = $(this).prop("checked");
                    if (isChecked) {
                        var newUrl = location.href + "&pcAvailabiltyMode=true";
                        window.location.href = newUrl;
                    }
                });                
            }

            /* 25 aug 2014 - david bass - record each time the "Didn't find" button was clicked, and what the query was as a Google Analytics event */
            $('#didnt_find_link').on('click', function() {
              ga('send', 'event', 'button', 'Didnt_find_button', search_query);
            });

        }


    // hide the "Available in the library" top-level facets;
    $(document).ready(function() {

        // replace the link on error.do with a different link;
        $("#exlidErrorSubMessage").html("If the problem persists, please <a href='http://askus.library.wwu.edu/browse.php?tid=23567'>contact us</a>.");

        var host = location.host;

        if (document.location.href.toLowerCase().indexOf("search.do") != -1){
            // if we are on a search results page, hide the 'available in the library' top-level facet;
  
            var fn = GetURLParameter("fn");
            if (fn.indexOf("Browse") > -1) {
                $("#exlidResultsContainer").addClass("browse");
            }

            $("#exlidClearSearchBox").on("click", function() {
                $("#search_field").focus();     // set the focus to the search field when someone clicks the clear-search button
            });

            /* add a tooltip question mark for the Heritage Resources option in the WWU scope */
            if (mode == "Basic") {
                $("label[for='exlidDynamicSelectBodyRadio3']").append("<a id='hrtooltip'  title='What is Heritage Resources?' href='http://www.library.wwu.edu/hr' target='_'><span class='fa fa-question-circle'></i></a>");
            }

            // to make browse search by call number easier, we're going to remove all specical characters
            // before the user's query is submitted;
            var BrowseMode = document.location.href.toLowerCase().indexOf("fn=browse");
            if (BrowseMode != -1) {
                // we are in browse mode;

                $("#searchForm").on("submit", function() {
                    var browse_by = $("#exlidDynamicSelectBodyRadio3").prop("checked");
                    if (browse_by) {
                        var search_for = $("#search_field").val();
                        search_for = search_for.replace(/\W/gi,"");  // remove special characters
                        $("#search_field").val(search_for);
                    }
                });
            }

            /* inject a link to show/hide extra facets, and toggle when clicked */

            $(".EXLFacetsDisplayMore").each(function(){
                $(this).html("<a href='javascript:void(0)' class='showHideFilters'>show/hide filters</a>");
            })
        
            $(".showHideFilters").click(function() {
                $(this).parent().siblings(".EXLAdditionalFacet").toggle();
            });



            var facets = "";
            // $(".EXLFacetsList").each(function() {
            $("#facetList").each(function() {
                facets += $(this).html();
            });

            $("#exlidFacetTile").prepend("<div class='filterButtonDiv'><button type='button' class='filterButton'>Apply Filter(s)</button></div>");
            $("#facetList").append("<div class='filterButtonDiv'><button type='button' class='filterButton'>Apply Filter(s)</button></div>");

            $("ol.EXLFacetsList").each(function() {
                var thisGroupIdNumber = "";
                var thisGroupId = $(this).attr("id");
                if (thisGroupId) {
                    if (thisGroupId == "exlidFacetSublistX") {
                        thisGroupIdNumber = 0;
                    } else {
                        thisGroupIdNumber = thisGroupId.replace(/\D/g,'');
                        thisGroupIdNumber++;    
                    }
                }

                $(this).find("li.EXLFacet a").each(function(i) {
                    // put a checkbox before each facet link;
                    var theURL = $(this).attr("href");
                    var fctN = GetParameter(theURL,"fctN");      // extract the value from that string
                    var fctV = GetParameter(theURL,"fctV");      // extract the value from that string
                    var thisId = thisGroupIdNumber + "_" + i;

                    // rfnIncGrp=show_only

                    theURL = theURL.replace('fctN','mulIncFctN');
                    theURL = theURL.replace('fctV','fctIncV');
                    theURL = theURL.replace('rfnGrp','rfnIncGrp');
                    theURL += "&rfnGrpCounter=" + thisGroupIdNumber;
                    $(this).attr("href", theURL);       // replace the link facet querystring variables with the group equivalents

                    $(this).parent().prepend("<input type='checkbox' class='facetcheckbox' onclick='ts(this)' name='" + fctN + "' value='" + fctV + "' data-group='" + thisGroupIdNumber + "' id='facetcheckbox_" + thisId + "'> <label for='facetcheckbox_" + thisId + "' title='check once to filter by this term; check twice to exclude; and a 3rd time to un-check'></label> ");
                });
            });


            /* because  each browser renders the indeterminate state differently, let's show a minus to indicate this will be excluded */
            $(".facetcheckbox").on("click", function() {
                    var isIndeterminate = $(this).prop("indeterminate");        /// TODO: style indeterminate as minus for Firefox
                    var isChecked = $(this).prop("checked");

                    if (isIndeterminate) {
                        $(this).parent().find("a").addClass("strike").attr("title","exclude this facet from your results");
                     } else if (isChecked) {
                        $(this).parent().find("a").removeClass("strike").attr("title", "results will be filtered by this facet after you 'Apply filters'");                        
                    } else {
                        $(this).parent().find("a").removeClass("strike").attr("title", "click to filter data by this facet");
                    }
             });




            var thisFilterValue = "";

            $(".filterButton").on("click", function() {
                // when someone clicks on the 'apply filter(s)' button, determine which checkboxes are checked, and then redirect to the new URL based on those filters

                $("li.EXLFacet input.facetcheckbox").each(function(i) {
                    // append these filters to the end of the current URL and go there;
                    var counter = i + 1;

                    var isIndeterminate = $(this).prop("indeterminate");       
                    var isChecked = $(this).prop("checked");

                    var thisName = $(this).attr("name");
                    var thisValue = $(this).attr("value");
                    var thisGroup = $(this).data("group");

                    if (isChecked) {
                        thisFilterValue += "&ct=facet&mulIncFctN=" + thisName + "&fctIncV=" + thisValue;
                        thisFilterValue += "&rfnIncGrp=" + thisGroup + "&rfnGrpCounter=" + thisGroup;
                    }

                    if (isIndeterminate) {
                        thisFilterValue += "&ct=facet&mulExcFctN=" + thisName + "&fctExcV=" + thisValue;
                        thisFilterValue += "&rfnExcGrp=" + thisGroup + "&rfnGrpCounter=" + thisGroup;
                    }
                });

                var currentUrl = window.location.href;
                var newUrl = currentUrl.replace("initialSearch=true", "");
                newUrl = newUrl.replace("permalink_key=", "original_plink_key=");   // if someone applies facets after using a permalink, we should remove the permalink key from the url so that it doesn't appear again
                var newUrl = newUrl + thisFilterValue;
                window.location = newUrl;
            });


            // blur everything else when a tab is hovered over
            /*
            $("#addFilter").hover(
              function() {
                $("#resultsTileNoId, #exlidFacetTile, #help, #exlidSearchTabs, #search_field").addClass("blur");
              }, function() {
                $("#resultsTileNoId, #exlidFacetTile, #help, #exlidSearchTabs, #search_field").removeClass("blur");
              }
            );
            $("#addFilter").blur(
              function() {
                $("#resultsTileNoId, #exlidFacetTile, #help, #exlidSearchTabs, #search_field").removeClass("blur");
              }
            );
            */


            /* remove the top (horizontal row) facet */
            var keepLooking = true;
            $("div.EXLTopLevelFacetItem > div.EXLFacetContainer").each(function() {
                if (keepLooking) {
                    var $topLevelFacetLabel = $(this).text();           // this is the text that appears to the patron
                    var containsMatch = $topLevelFacetLabel.indexOf("Available in the Library");

                    if (containsMatch != -1) {
                        // we have a match; hide it;
                        $(this).hide();
                        // we do not need to go any further; there will only be one of these in the list
                        keepLooking = false;
                    }
                }
            });

            /* remove from the left column (facets) */
            var keepLooking = true;
            $("#exlidFacetSublistX LI.EXLFacet").each(function() {
                if (keepLooking) {
                    var $topLevelFacetLabel = $(this).text();       // this is the text that appears to the patron
                    var containsMatch = $topLevelFacetLabel.indexOf("Available in the Library");
                    if (containsMatch != -1) {
                        // we have a match; hide it;
                        $(this).hide();
                        // we do not need to go any further; there will only be one of these in the list
                        keepLooking = false;
                    }
                }
            });
        }


        var searchPage = document.location.href.toLowerCase().indexOf("search.do");
        if (searchPage != -1) {

            /* move the thumbnail to the title column */
            $('td.EXLThumbnail').each(function() {
                var thumbnailHtml = "<div class='thumbnailHtml'>" + $(this).html() + "</div>";
                $(this).hide();
                $(this).parent().find(".EXLResultAvailability").prepend(thumbnailHtml);
            });

            var fn = GetURLParameter("fn");
            if ((fn == "almaAzSearch") || (fn == "goAlmaAz")) {
                $("#exlidSearchRibbon").addClass("az");
                $("#permalinkPretty").hide();
            }
        }

        /* 25aug2014 - david bass - add a counter to each results link, so that we can track which of the links was clicked (1st on page, 7th on page, etc...) */
        var resultsPerPage = $('#exlidResultsTable').find("h2.EXLResultTitle").length;
        $('#exlidResultsTable').find("h2.EXLResultTitle").find("a").each(function(index) {
            var counter = index + 1;
            var resultOrderValue = "result " + counter + " of " + resultsPerPage;
            $(this).data("resultOrder", resultOrderValue);
            $(this).addClass("searchResultLink");
        });

        var openurlPage = document.location.href.toLowerCase().indexOf("/primo_library/libweb/action/openurl");
        if (openurlPage != -1) {
            // record openurl page hits (assuming the "View It" tab is selected) as a GA event (like the search results > View It links are recorded) 
            var src = GetURLParameter('sid');
            /*
            var journalTitle = $(".EXLResultDetails").text();
            var journalTitlePieces = journalTitle.split(",");
                journalTitle = $.trim(journalTitlePieces[0]);
            */

            var hidden_field_id = "#getit1_0";
            var boomValue = $(hidden_field_id).val();
            var journalTitle = GetParameter(boomValue, 'rft.jtitle');
                journalTitle = decodeURIComponent(journalTitle);

            ga('send', 'event', 'openurl', 'journal: ' + journalTitle, 'source: ' + src);      // record the order of the link (for search results)
        }

        var searchPage = document.location.href.toLowerCase().indexOf("search.do");
        if (searchPage != -1) {
            // add a 'go to page' near the pagination links
            var numResults = current_count.replace(',','');
                numResults = parseInt(numResults);
            var numPagesTotal = Math.round(numResults / resultsPerPage);
            var gotoPageTooltip = numPagesTotal + " pages total";

            // var gotoPage = '<div class="gotoPageContainer">jump to page <input type="text" size="2" name="gotoPage" class="gotoPageInput" title="' + gotoPageTooltip + '"> </div>';

            if (numPagesTotal > 1) {
                var currentPageNumber = $("span.EXLDisplayedCount.EXLBriefResultsPaginationPageCount:eq(1)").text();
                var gotoPage = '<div class="jump2page"> jump to page <input type="text" size="3" name="gotoPage" class="gotoPageInput" value="' + currentPageNumber + '"> </div> <div class="gotoPageInputToolTip">enter the page number you want to jump to, and then press tab<br><br>' + gotoPageTooltip + ' </div> <span class="spinner"> &nbsp; </span> <span class="pageLoadDelay"> Sorry for the delay; this slow page load has been reported to the administrator. </span> </div>  ';
                var gotoPageBottom= '<div class="jump2page"> jump to page <input type="text" size="3" name="gotoPage" class="gotoPageInput" value="' + currentPageNumber + '"> </div>   <div class="gotoPageInputToolTip Bottom">enter the page number you want to jump to, and then press tab<br><br>' + gotoPageTooltip + ' </div><span class="spinner"> &nbsp; </span> <span class="pageLoadDelay"> Sorry for the delay; this slow page load has been reported to the administrator. </span> </div>  ';

                $("#resultsNavNoId").prepend(gotoPage);
                $("#resultsNavNoIdBottom").prepend(gotoPageBottom);

            }

            /* only show the tabs on hover */
            /*
            $("td.EXLSummary").hover(function() {
                var isChecked = $('#x').prop("checked");
                // console.log(isChecked);
                if (isChecked === true) {
                    $(this).find(".EXLTabsRibbon").show();
                }
              }, function() {
                $(this).find(".EXLTabsRibbon").hide();
                $(".EXLResultTabContainer").hide();     // hide any open frame containers
              }
            );
            */

            $("a.EXLPrevious.EXLBriefResultsPaginationLinkPrevious.EXLBriefResultsPagination").hover(
              function() {
                $(".gotoPageInputToolTipLinks").show();
              }, function() {
                $(".gotoPageInputToolTipLinks").hide();
              }
            );
            $("a.EXLPrevious.EXLBriefResultsPaginationLinkPrevious.EXLBriefResultsPagination").blur(
              function() {
                $(".gotoPageInputToolTipLinks").hide();
              }
            );


            $(".gotoPageInput").hover(
              function() {
                $(".gotoPageInputToolTip").show();
              }, function() {
                $(".gotoPageInputToolTip").hide();
              }
            );
            $(".gotoPageInput").blur(
              function() {
                $(".gotoPageInputToolTip").hide();
              }
            );


           $(document).on('change', '.gotoPageInput', function() {

                var start = new Date;
                var seconds = 0;
                setInterval(function() {
                   seconds = (new Date - start) / 1000;
                    if (seconds > 5) {
                        $(".pageLoadDelay").show();
                        ga('send', 'event', 'slowPageLoad', 'gotoPageNumber', search_query);
                    }

                }, 1000);

                $(".spinner").show();
             
                var gotoPageNumber = $(this).val();
                var gotoIndex = (10 * (gotoPageNumber - 2)) + 1;
                    gotoIndex = Math.max(0, gotoIndex);     // convert negative values to zero
                var search = location.search;

                if (gotoIndex == 0) {
                    var newSearch = search.replace("?", "ct=&pag=&indx=" + gotoIndex + "&");
                } else {
                    var newSearch = search.replace("?", "?ct=Next+Page&pag=nxt&indx=" + gotoIndex + "&");
                }

                location.search = newSearch;
            })


            var facet_count = $('#facetList').find("li.EXLFacet").find("a").length;
            $('#facetList').find("li.EXLFacet").find("a").each(function(index) {
                var facetCounter = index + 1;
                var facetOrderValue = "facet " + facetCounter + " of " + facet_count;
                $(this).data("facetOrder", facetOrderValue);
                $(this).addClass("facetLink");
                $(this).attr("title", "click to filter data by this facet");
            });


            $("li.tab")
              .mouseenter(function() {
                var thisId = $(this).attr("id");
                var tabtipId = "#" + thisId + "_tabtip";
                $(tabtipId).show();
              })
              .mouseleave(function() {
                var thisId = $(this).attr("id");
                var tabtipId = "#" + thisId + "_tabtip";
                $(tabtipId).hide();
              });


         
            $("#search_field").on("blur", function() {
                var search_query = $("#search_field").val();
                if (typeof search_query !== 'undefined') {
                    ga('send', 'event', 'search_query', 'blur', search_query);      // record the search_query
                }
            });

        }


        $("#goButton").hover(
          function() {
            $("#basic-text").show();
          }, function() {
            $("#basic-text").hide();
          }
        );

        $("#advsearch_btn_simple").hover(
          function() {
            $("#adv-text").show();
          }, function() {
            $("#adv-text").hide();
          }
        );

 
        /* 25 aug 2014 - david bass - track each time a link is clicked as a Google Analytics event */
        $('a').on('click', function() {
            var a_class = $(this).attr('class')
            var a_href = $(this).attr('href');
            var a_text = $.trim($(this).text());
            var a_action = "href-click";
            var a_id = $(this).attr("id");

            if (a_text == "View It") {
                // this is a "View It" link on the search results page; lets append the journal title to the event title
                var a_action = "View It";
                var src = $("#search_field").val();

                // which link is this?
                var a_title = $(this).attr('title');
                var a_title_parts = a_title.split('-');    
                var link_number = $.trim(a_title_parts[1]);

                var typeOfResult = 'journal';

                var displayPage = document.location.href.toLowerCase().indexOf("display.do");
                if (displayPage != -1) {
                    var hidden_field_id = "#getit2_0";
                    var boomValue = $(hidden_field_id).val();
                    var journalTitle = GetParameter(boomValue, 'rft.jtitle');
                        journalTitle = decodeURIComponent(journalTitle);                    
                } else {
                    var hidden_field_id = "#getitonline1_" + link_number;
                    var boomValue = $(hidden_field_id).val();
                    var typeOfResult = GetParameter(boomValue, 'O');

                    if (typeOfResult.indexOf("newspaper_article") > -1) {
                        typeOfResult = "newspaper_article";
                        var journalTitle = GetParameter(boomValue, 'rft.jtitle');
                        journalTitle = decodeURIComponent(journalTitle);
                    } else if (typeOfResult.indexOf("article") > -1) {
                        typeOfResult = "article";
                        var journalTitle = GetParameter(boomValue, 'rft.jtitle');
                        journalTitle = decodeURIComponent(journalTitle);
                    } else if (typeOfResult.indexOf("ebook") > -1) {
                        typeOfResult = "ebook";
                        var journalTitle = $(this).closest(".EXLSummary").find(".EXLResultTitle a").text();
                    } else {
                        journalTitle = undefined;
                    }

                    if (journalTitle == "undefined") {
                        // ExLibris uses two different techniques to store the Journal Title, so this is the 2nd technique.
                        var journalTitle = GetParameter(boomValue, "O8");       // please note, this is NOT zero eight; but capital oh eight.  grrr.
                            journalTitle = decodeURIComponent(journalTitle);    
                    }
                }

                var eventAction = typeOfResult + ': ' + journalTitle;
                var eventLabel = 'query: ' + src;
    
                ga('send', 'event', 'View It', eventAction, eventLabel);      // record the order of the link (for search results)

            } else if (typeof a_class === 'undefined') {
                // this link doesn't yet have a class
                ga('send', 'event', 'link', a_action, a_text);      // record the text of the link
            } else {
                if (a_class.indexOf("searchResultLink") >= 0) {
                    // this is a search result link - lets record the order, but not the title of the item
                    var a_action = "searchResult-order";
                    var a_order = $(this).data('resultOrder');
                    ga('send', 'event', 'link', a_action, a_order);      // record the order of the link (for search results)
                } else {
                    // this is some other type of link (probably a facet)

                    if (a_class.indexOf("EXLBriefResultsPagination") >= 0) {
                        var a_action = "page-number";     /// the user clicked on a "remove facet/filter" link

                        var pageNumber = parseInt(a_text);
                        if (pageNumber > 0) {
                            a_text = "goto page " + a_text;     /// the user clicked on one of the pagination numbers
                        } else {
                            a_text = "next page";     /// the user clicked on the "next page" icon
                        }
                    }

                    if (a_class.indexOf("EXLFirstRefinementElement") >= 0) {
                        var a_action = "remove-filter";     /// the user clicked on a "remove facet/filter" link
                    }

                    if (a_class.indexOf("facetLink") >= 0) {
                        var a_action = "apply-filter";     // the user clicked on a facet (to apply a filter)
                    }

                    ga('send', 'event', 'link', a_action, a_text);      // record the text of the link
                }
            }

        });

        $(".shorten").shorten( {
                showChars: '500',
                moreText: 'read more',
                lessText: 'read less'
        });

    });


    
reportAddPageToEshelfClick = (function() {
    var cached_function = reportAddPageToEshelfClick;

    return function(str) {
        cached_function.apply(this, arguments); // use .apply() to call it

        $(".EXLFacetSaveToEShelfAction").append("<i class='fa fa-check'></i>");
    };
}());






    var myAccountMenu = document.location.href.toLowerCase().indexOf("myaccountmenu.do");
    if (myAccountMenu != -1) {

        var mode = $("#mode").val();
        if (mode == "Advanced") {
           // $("#exlidSearchTileWrapper").addClass("myaccountmenu-advanced");
        }       

        // $("#exlidHeaderTile").addClass("myAccount");
       
    }


    var displayPage = document.location.href.toLowerCase().indexOf("display.do");
    if (displayPage != -1) {

        (function(){
            /*  create a permalink on the display page for a specific item */
            // only run this code on the display page for now; do not run in search results page
            // Primo 4.6 introduced item-level permalinks, so let's use those instead of the homegrown permalinks
           var  exli_permaLink_orig = $(".EXLButtonSendToPermalink").find("a").attr("href");
           var exli_permalink = recreateExLiPermalink(exli_permaLink_orig);
           var exli_permaLink_final = window.location.protocol + "//" + window.location.hostname + "/" + exli_permalink;
           var permaLink = "<span class='wwu_permalink'>" + exli_permaLink_final + "</span>";

            // var permaLink = "<span class='wwu_permalink'>see Actions > PermaLink</span>";

           var permaLinkPretty = "<div title='permaLink - share this URL with others' id='permalinkPretty' class='permalinkPretty-displayPage'><span class='disable-select'>Permalink for this item: </span><span class='perma-link'>" + permaLink + "</span> <span class='display-block'> </span></div>";
            $("#resultsListNoId").prepend(permaLinkPretty);
    
        }) ();
    }


    $(document).on("focus",  "permalink-value", function() {
        var myInput = document.getElementById('permalink-value');
        myInput.setSelectionRange(0, 999);
    }); 
    
    $("#submit-feedback").click(function() {
        thisObjectId = $(this).data("objectId");
        theComment = $("#feedback-text").val();
        addComment(thisObjectId, theComment);
    });

});

    /* Springshare Chat - David Bass - 13 Sep 2013 --- */

    var libchat_btn = {
       iid: "92",
       key: "c08f3a912c49c73",
       domain: "askus.library.wwu.edu",
       splash: "Welcome to Western Libraries Chat!",
       button_online: "//library.wwu.edu/info/primo/entypo.svg#U+E720",
       button_online: "http://library.wwu.edu/info/primo/wwuchat_on4.png",
       button_offline: "http://library.wwu.edu/info/primo/wwuchat_off4.png",
       offline_url: "http://askus.library.wwu.edu/browse.php?tid=23567",
       question: "Please enter question below:",
       star_ratings: true,
       star_text: "Please rate this chat:",
       depart_id: "146"
    };

    // replace the contactalibrarian div with the Springshare Chat
    // $("#exlidSearchBanner").html("<div id='libchat_btn_widget'></div>");

    $(window).load(function() {
        /* 25aug2014 - David Bass - have to clone this for use in the "Didn't find" popup */
        $("#libchat_btn_widget").clone().appendTo("#chat_with_librarian");

        $(".EXLAvailabilityCallNumber").each(function() {
            /* remove parens from EXLAvailabilityCallNumber */
            var newText = $(this).text().replace(/\(|\)/g, '');
            $(this).text(newText);
            /* inherit the status color of the parent */
            var parentClass = $(this).parent(".EXLResultStatusAvailable").attr("class");
            $(this).addClass(parentClass);
        }).fadeIn(500);

        // add handwritten mouseover tooltips to the scope tabs
        $("#exlidSearchTabs li.tab").each(function(index) {
            var thisTitle = $(this).find("a").attr("title");
            $(this).find("a").attr("title", "");    // erase the title to prevent it from appearing

            var thisId = $(this).attr("id");
            var position = $(this).position();
            var x = position.left;
            var tabtipId = thisId + "_tabtip";
            var tooltip = "<div style='position: relative; left:" + x + "px;' id='" + tabtipId + "' class='tabtip'>" + thisTitle + "</div>";
            $(".EXLSearchFieldRibbonFormFields").append(tooltip);
        });

        var loadTime = window.performance.timing.domContentLoadedEventEnd- window.performance.timing.navigationStart;
        ga('send', 'event', 'pageLoadTime', 'window.load', loadTime);
        // console.log(loadTime);

        $('a').each(function() {
            // remove the permalink_key variable from any links, so that they won't show the permalink except for the first time
            var _href = $(this).attr('href');
            if (_href) {
                var new_href = _href.replace("permalink_key=", "original_plink_key=");
                $(this).attr('href', new_href );   
            }
        });


        // $('#Author1').html($('#Author1').html().replace(";", ""));
        // $('#Subjects-1').html($('#Subjects-1').html().replace(";", ""));

    });






    var nopacStartpage = document.location.href.indexOf("WWU_NOPAC&startpage=true");
    if (nopacStartpage == -1) {
        // only collect Google Analytics if we are NOT on the nopac start page

        // Google Analytics
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3067340-13', 'wwu.edu');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    }


    function savePermaLink(permaLink) {
        var url = "http://library.wwu.edu/info/primo/create-permalink.php?" + permaLink;

        $.ajax({
            url: url,
            crossDomain: true,
            dataType: 'jsonp',
            success: function(responseData, textStatus, jqXHR) {
                var permaLinkId = responseData.objectId;
                var newPermalink = "http://library.wwu.edu/goto/?" + permaLinkId;
                $("#generate-permalink").fadeOut(50);
     //           $(".perma-link").text(newPermalink).fadeIn(100);
                $(".perma-link").html("<input type=text size=50 id='permalink-value' value='" + newPermalink + "'>").fadeIn(100);

                $("#permalink-value").val(newPermalink).focus();
                $("#permalinkPretty").addClass("ready");
                $(".permalink-button").fadeOut(50);
            },
            error: function (responseData, textStatus, errorThrown) {
                alert('Could not generate permaLink.');
                /* TODO: notify admin */
                console.log(responseData);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }



</script>

<style>
.EXLResultsList div.EXLSummaryContainer div.EXLSummaryFields {
	margin-top: 8em;
}
</style>
<!--end footer-->